.breadcrumbs {
  margin-top: 40px;
  margin-bottom: 32px;
  @include w1023 {
    margin-top: 25px;
    margin-bottom: 17px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &:not(:last-child) {
      &:after {
        content: '';
        width: 3px;
        height: 3px;
        margin: 3px 8px 0px 9px;
        border-radius: 50%;
        background-color: var(--neutrals-1);
        @include w1023 {
          margin: 3px 6px 0px 6px;
        }
      }
    }
  }
  &__link {
    font-size: 14px;
    line-height: 19px;
    transition: color 0.2s;
    @include w1023 {
      font-size: 12px;
      line-height: 16px;
    }
    &:not(:is(a)) {
      color: var(--neutrals-4);
    }
    &:is(a) {
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
    }
  }
}
