.footer {
  background-color: var(--grey2);
  &__top {
    padding: 50px 0;
    border-bottom: 2px solid var(--grey);
  }
  &__container {
    position: relative;
    display: flex;
  }
  .header__logo {
    margin-right: 7.2%;
  }
  &__menu {
    flex: 1;
    padding-right: 24px;
  }
  &-menu {
    &__row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
    &__list {
      display: grid;
      grid-gap: 20px;
      padding-left: 0;
      list-style: none;
      &--services {
        grid-column: 3 / 6;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 0;
        .footer-menu__item:nth-child(2) {
          position: relative;
          grid-column: 2/4;
        }
      }
      &--catalog {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px 0;
        .footer-menu__item:nth-child(2) {
          position: relative;
          grid-column: 2/6;
        }
      }
      &--bot {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px 0;
        width: 100%;
        margin-left: calc(130px + 7.2%);
        padding-right: 24px;
        .footer-menu__item {
          display: grid;
          grid-gap: 20px;
        }
      }
    }
    &__item {
      display: flex;
      align-items: center;
    }
    &__link {
      font-weight: 500;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--green01);
        }
        &:active {
          color: var(--green02);
        }
      }
      @include active {
        &:active {
          color: var(--green02);
        }
      }
      &--red {
        color: var(--red01);
      }
    }
    &__title {
      font-weight: 500;
      color: var(--grey3);
      transition: color 0.2s;
      &:is(a) {
        @include hover {
          &:hover,
          &:focus {
            color: var(--green01);
          }
          &:active {
            color: var(--green02);
          }
        }
        @include active {
          &:active {
            color: var(--green02);
          }
        }
      }
    }
    &__line {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: calc(100% + 24px);
      height: 2px;
      background-color: var(--grey);
    }
    &__btn {
      display: flex;
      align-items: center;
      padding: 0;
      background: none;
      border: none;
      font-weight: 500;
      color: var(--green02);
      transition: color 0.2s;
      cursor: pointer;
      @include hover {
        &:hover,
        &:focus {
          color: var(--green01);
          path {
            &[fill] {
              fill: var(--green01);
            }
            &[stroke] {
              stroke: var(--green01);
            }
          }
        }
        &:active {
          color: var(--green02);
          path {
            &[fill] {
              fill: var(--green02);
            }
            &[stroke] {
              stroke: var(--green02);
            }
          }
        }
      }
      @include active {
        &:active {
          color: var(--green01);
          path {
            &[fill] {
              fill: var(--green01);
            }
            &[stroke] {
              stroke: var(--green01);
            }
          }
        }
      }
      svg {
        margin-right: 12px;
      }
      path {
        transition: 0.2s;
      }
    }
    &__phone {
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--green01);
        }
        &:active {
          color: var(--green02);
        }
      }
      @include active {
        &:active {
          color: var(--green02);
        }
      }
    }
  }
  &__bot {
    padding: 20px 0 30px;
  }
  &__socials {
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &__social {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  &-social {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: var(--white);
      box-shadow: var(--interface-with-white-back);
      border-radius: 10px;
      transition: 0.2s;
      @include hover {
        &:hover,
        &:focus {
          box-shadow: none;
          path {
            &[fill] {
              fill: var(--green01);
            }
            &[stroke] {
              stroke: var(--green01);
            }
          }
        }
        &:active {
          box-shadow: var(--interface-inner-shadow);
          path {
            &[fill] {
              fill: var(--green02);
            }
            &[stroke] {
              stroke: var(--green02);
            }
          }
        }
      }
      @include active {
        &:active {
          box-shadow: var(--interface-inner-shadow);
          path {
            &[fill] {
              fill: var(--green02);
            }
            &[stroke] {
              stroke: var(--green02);
            }
          }
        }
      }
      path {
        transition: 0.2s;
      }
    }
  }
}
