.form {
  &__block {
    flex: 1;
    & + * {
      margin-top: 10px;
      @include w767 {
        margin-top: 12px;
      }
    }
    label {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: var(--green02);
      cursor: pointer;
    }
  }
  &__row {
    display: flex;
  }
  &__btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 28px;
  }
}
