.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  padding: 20px 0;
  border-bottom: 2px solid #e6e6e6;
  background-color: var(--white);
  transition: background 0.2s;
  &--banner {
    background-color: var(--grey2);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    @include hover {
      &:hover,
      &:focus {
        path {
          &[fill] {
            fill: var(--green01);
          }
          &[stroke] {
            stroke: var(--green01);
          }
        }
      }
      &:active {
        path {
          &[fill] {
            fill: var(--green02);
          }
          &[stroke] {
            stroke: var(--green02);
          }
        }
      }
    }
    @include active {
      &:active {
        path {
          &[fill] {
            fill: var(--green02);
          }
          &[stroke] {
            stroke: var(--green02);
          }
        }
      }
    }
    path {
      transition: 0.2s;
    }
  }
  &__list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }
  &-list {
    &__item {
      &:not(:last-child) {
        margin-right: 28.5px;
      }
    }
    &__link {
      display: flex;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      font-weight: 500;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--green01);
          path {
            &[fill] {
              fill: var(--green01);
            }
            &[stroke] {
              stroke: var(--green01);
            }
          }
        }
        &:active {
          color: var(--green02);
          path {
            &[fill] {
              fill: var(--green02);
            }
            &[stroke] {
              stroke: var(--green02);
            }
          }
        }
      }
      @include active {
        &:active {
          color: var(--green02);
          path {
            &[fill] {
              fill: var(--green02);
            }
            &[stroke] {
              stroke: var(--green02);
            }
          }
        }
      }
      path {
        transition: 0.2s;
      }
    }
  }
  &__btns {
    display: flex;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    &:not(:last-child) {
      margin-right: 28px;
    }
    &--big {
      width: auto;
      height: auto;
      padding: 12px 30px;
      svg {
        margin-left: 11px;
      }
    }
  }
}
