.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--linear);
    transition: background 0.2s;
  }
  &--banner {
    color: var(--neutrals-12);
    background: rgba(105, 121, 248, 0.6);
    transition: background 0.2s;
    &:after {
      background: var(--violet-4);
    }
    .header__container:before {
      background-color: var(--violet-2);
    }
    .header__wrap {
      @include w1366 {
        background-color: var(--violet-2);
      }
    }
    .header__logo {
      @include hover {
        &:hover,
        &:focus {
          path {
            fill: var(--mint);
          }
        }
      }
      @include active {
        &:active {
          path {
            fill: var(--mint);
          }
        }
      }
      path {
        fill: var(--neutrals-12);
      }
    }
    .header-list__link {
      @include hover {
        &:hover,
        &:focus {
          color: var(--mint);
        }
      }
      @include active {
        &:active {
          color: var(--mint);
        }
      }
    }
    .header-lang {
      &__current {
        color: var(--neutrals-12);
        @include hover {
          &:hover,
          &:focus {
            color: var(--mint);
          }
        }
        @include active {
          &:active {
            color: var(--mint);
          }
        }
        &:after {
          border-color: var(--neutrals-12);
        }
      }
      &__list {
        background-color: var(--violet-2);
        box-shadow: var(--on-violet-dark-shadow);
      }
      &__item {
        &:not(:last-child) {
          border-color: var(--violet-3);
        }
      }
      &__link {
        color: var(--neutrals-12);
        @include hover {
          &:hover,
          &:focus {
            color: var(--mint);
          }
        }
        @include active {
          &:active {
            color: var(--mint);
          }
        }
      }
    }
    .header__btn {
      &.primary-btn {
        background: var(--neutrals-12);
        border-color: var(--neutrals-12);
        color: var(--violet-2);
        @include hover {
          &:hover,
          &:focus {
            background: var(--mint);
            border-color: var(--mint);
            color: var(--violet-1);
          }
          &:active {
            transform: translate3d(0, 2px, 0) scale(0.95);
          }
        }
        @include active {
          &:active {
            background: var(--mint);
            border-color: var(--mint);
            color: var(--violet-1);
            transform: translate3d(0, 2px, 0) scale(0.95);
          }
        }
      }
      &.secondary-btn {
        border-color: var(--neutrals-12);
        color: var(--neutrals-12);
        @include hover {
          &:hover,
          &:focus {
            background: var(--violet-3);
          }
          &:active {
            transform: translate3d(0, 2px, 0) scale(0.95);
          }
        }
        @include active {
          &:active {
            background: var(--violet-3);
            transform: translate3d(0, 2px, 0) scale(0.95);
          }
        }
      }
    }
    .header-profile {
      &__top {
        color: var(--neutrals-12);
        &:after {
          border-color: var(--neutrals-12);
        }
        @include hover {
          &:hover,
          &:focus {
            color: var(--mint);
          }
        }
        @include active {
          &:active {
            color: var(--mint);
          }
        }
        @include w1366 {
          @include hover {
            &:hover,
            &:focus {
              .header-profile__icon {
                background-color: var(--mint);
              }
              path {
                stroke: var(--violet-2);
              }
            }
          }
          @include active {
            &:active {
              .header-profile__icon {
                background-color: var(--mint);
              }
              path {
                stroke: var(--violet-2);
              }
            }
          }
        }
      }
      &__icon {
        background-color: var(--neutrals-12);
        path {
          stroke: var(--violet-2);
        }
      }
      &__content {
        background: var(--violet-2);
        box-shadow: var(--on-violet-dark-shadow);
      }
      &__list {
        border-bottom: 1px solid var(--violet-3);
      }
      &__link {
        @include hover {
          &:hover,
          &:focus {
            color: var(--mint);
            path {
              stroke: var(--mint);
            }
          }
        }
        @include active {
          &:active {
            color: var(--mint);
            path {
              stroke: var(--mint);
            }
          }
        }
        svg {
          path {
            stroke: var(--neutrals-12);
          }
        }
        &--exit {
          color: var(--violet-4);
          svg {
            path {
              stroke: var(--violet-4);
            }
          }
        }
      }
    }
    .header__burger {
      background: var(--violet-3);
      @include hover {
        &:hover,
        &:focus {
          path {
            stroke: var(--mint);
          }
        }
      }
      @include active {
        &:active {
          path {
            stroke: var(--mint);
          }
        }
      }
      path {
        stroke: var(--neutrals-12);
      }
    }
  }
  &--openmenu {
    .header__wrap {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
    .header__container:before {
      opacity: 1;
    }
    .header__burger {
      .open {
        opacity: 0;
      }
      .close {
        opacity: 1;
      }
    }
  }
  &--openprofile {
    .header-profile__content {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
    .header__container:before {
      @include w1366 {
        opacity: 1;
      }
    }
    .header-profile__icon {
      .open {
        opacity: 0;
      }
      .close {
        opacity: 1;
      }
    }
  }
  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @include w1023 {
      padding-top: 13px;
      padding-bottom: 13px;
    }
    &:before {
      @include w1366 {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100% + 1px);
        background-color: var(--neutrals-12);
        border-bottom: 1px solid var(--violet-4);
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  }
  &__logo {
    position: relative;
    display: flex;
    margin-right: 5.3%;
    @include hover {
      &:hover,
      &:focus {
        path {
          fill: var(--violet-1);
        }
      }
    }
    @include active {
      &:active {
        path {
          fill: var(--violet-1);
        }
      }
    }
    @include w1023 {
      width: 93px;
      margin-right: 8.8%;
    }
    svg {
      max-width: 100%;
      height: auto;
      path {
        transition: fill 0.2s;
      }
    }
  }
  &__wrap {
    flex: 1;
    display: flex;
    align-items: center;
    @include w1366 {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      padding: 127px 40px 40px;
      background-color: var(--neutrals-12);
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transform: translateY(6px);
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        visibility 0s 0.3s;
    }
    @include w1023 {
      padding: 101px 40px 40px;
    }
    @include w767 {
      padding: 101px 24px 40px;
    }
  }
  &__list {
    display: flex;
    padding-left: 0;
    list-style: none;
    @include w1366 {
      display: block;
      margin-bottom: 40px;
    }
  }
  &-list {
    &__item {
      &:not(:last-child) {
        margin-right: 25.5px;
        @include w1366 {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
    &__link {
      white-space: nowrap;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
    }
  }
  &__lang {
    position: relative;
    margin-right: 35px;
    padding-right: 5px;
    margin-left: auto;
    @include w1366 {
      order: -1;
      margin-bottom: 20px;
      margin-left: 0;
    }
    &.select--active {
      .header-lang__current:after {
        transform: rotate(-45deg) translate(-2px, 2px) scale(-1);
      }
    }
  }
  &-lang {
    &__current {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background: none;
      font-size: 14px;
      line-height: 19px;
      color: var(--neutrals-2);
      cursor: pointer;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin-left: 11px;
        border-bottom: 2px solid var(--neutrals-2);
        border-left: 2px solid var(--neutrals-2);
        transform: rotate(-45deg) translate(1px, -1px);
        transition: 0.2s;
      }
    }
    &__list {
      position: absolute;
      top: calc(100% + 5px);
      right: 0;
      padding: 10px;
      list-style: none;
      background-color: var(--neutrals-12);
      box-shadow: var(--card-shadow);
      border-radius: 7px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid var(--neutrals-9);
      }
    }
    &__link {
      font-size: 14px;
      line-height: 19px;
      color: var(--neutrals-2);
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
    }
  }
  &__btns {
    display: flex;
    @include w1366 {
      width: 100%;
    }
    @include w1023 {
      flex-direction: column;
    }
  }
  &__btn {
    padding: 6px 22px;
    @include w1366 {
      flex: 1;
      padding: 10px 0;
    }
    & + & {
      margin-left: 16px;
      @include w1023 {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }
  &__profile {
    @include w1366 {
      margin-left: auto;
    }
    &.select--active {
      .header-profile__top:after {
        transform: rotate(-45deg) translate(-2px, 2px) scale(-1);
      }
    }
    & + .header__burger {
      margin-left: 25px;
      @include w1023 {
        margin-left: 15px;
      }
    }
  }
  &-profile {
    &__top {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0;
      padding-right: 7px;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
      @include w1366 {
        padding-right: 0;
        font-size: 0;
        @include hover {
          &:hover,
          &:focus {
            path {
              stroke: var(--mint);
            }
          }
        }
        @include active {
          &:active {
            path {
              stroke: var(--mint);
            }
          }
        }
      }
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 17px;
        border-bottom: 2px solid var(--violet-3);
        border-left: 2px solid var(--violet-3);
        transform: rotate(-45deg) translate(1px, -1px);
        transition: 0.2s;
        @include w1366 {
          display: none;
        }
      }
    }
    &__icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      margin-right: 10px;
      background-color: var(--violet-3);
      border-radius: 50%;
      transition: background-color 0.2s;
      @include w1366 {
        margin-right: 0;
      }
      @include w1023 {
        width: 34px;
        height: 34px;
      }
      .open {
        transition: opacity 0.3s;
      }
      .close {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
      }
      path {
        transition: stroke 0.2s;
      }
    }
    &__content {
      position: absolute;
      top: calc(100% + -14px);
      right: 60px;
      padding: 30px;
      background: var(--neutrals-12);
      box-shadow: var(--inputs-shadow);
      border-radius: 7px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(6px);
      transition: background 0.3s, opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        visibility 0s 0.3s;
      @include w1366 {
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 127px 40px 40px;
      }
      @include w1023 {
        padding: 101px 40px 40px;
      }
      @include w767 {
        padding: 101px 24px 40px;
      }
    }
    &__list {
      margin-bottom: 25px;
      padding-left: 0;
      list-style: none;
      border-bottom: 1px solid var(--violet-7);
      @include w1366 {
        margin-bottom: 20px;
      }
    }
    &__item {
      margin-bottom: 25px;
      @include w1366 {
        margin-bottom: 20px;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--violet-1);
          path {
            stroke: var(--violet-1);
          }
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
          path {
            stroke: var(--violet-1);
          }
        }
      }
      @include w1366 {
        display: inline-flex;
      }
      svg {
        margin-right: 10px;
        path {
          transition: stroke 0.2s;
        }
      }
      &--exit {
        width: 100%;
        padding: 0;
        background: none;
        border: none;
        color: var(--neutrals-5);
        cursor: pointer;
        @include w1366 {
          width: auto;
        }
      }
    }
  }
  &__burger {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-left: auto;
    padding: 0;
    background: var(--violet-7);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    @include hover {
      &:hover,
      &:focus {
        background: var(--violet-3);
        path {
          stroke: var(--neutrals-12);
        }
      }
    }
    @include active {
      &:active {
        background: var(--violet-3);
        path {
          stroke: var(--neutrals-12);
        }
      }
    }
    @include w1366 {
      display: flex;
    }
    @include w1023 {
      width: 34px;
      height: 34px;
    }
    .open {
      transition: opacity 0.3s;
    }
    .close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
    path {
      transition: stroke 0.2s;
    }
  }
}
