.about {
  margin-bottom: 160px;
  @include w1023 {
    margin-bottom: 93px;
  }
  @include w767 {
    margin-bottom: 100px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include w1023 {
      grid-gap: 8%;
      border-bottom: 2px solid var(--grey2);
    }
    @include w767 {
      grid-template-columns: auto;
      grid-gap: 50px;
      padding-bottom: 50px;
    }
  }
  &__col {
    padding-bottom: 70px;
    border-bottom: 2px solid var(--grey2);
    @include w1023 {
      border-bottom: none;
    }
    @include w767 {
      padding-bottom: 0;
    }
    &:first-child {
      padding-right: 32px;
      @include w1023 {
        padding-right: 0;
      }
      @include w767 {
        order: 2;
      }
    }
  }
  &__title {
    position: relative;
    margin-bottom: 44px;
    @include w767 {
      max-width: 170px;
      margin-bottom: 28px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 35px;
      left: 0;
      width: 190px;
      height: 6px;
      background-color: var(--orange);
      @include w767 {
        top: 21px;
        width: 104px;
        height: 4px;
      }
    }
  }
  &__text {
    max-width: 352px;
    margin-bottom: 28px;
    @include w767 {
      margin-bottom: 20px;
    }
    p:not(:last-child) {
      margin-bottom: 44px;
      @include w767 {
        margin-bottom: 28px;
      }
    }
  }
  &__link {
    padding: 12px 30px;
    @include w1023 {
      margin-bottom: 32px;
    }
    @include w767 {
      margin-bottom: 0;
    }
  }
  &__picture {
    @include w1023 {
      display: block;
      height: 100%;
    }
  }
  &__img {
    width: 100%;
    border-radius: 28px;
    @include w1023 {
      height: 100%;
      object-fit: cover;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6.66%;
    list-style: none;
    @include w1023 {
      grid-gap: 0;
    }
    @include w767 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 28px 0;
    }
  }
  &-list {
    &__item {
      @include w1023 {
        padding-right: 10px;
      }
    }
    &-item {
      &__icon {
        display: flex;
        margin-bottom: 10px;
      }
      &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        @include w767 {
          font-size: 12px;
          line-height: 18px;
        }
      }
      &__text {
        color: var(--grey3);
        @include w1023 {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
