.categories {
  margin-bottom: 151px;
  @include w767 {
    margin-bottom: 90px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 51px 0;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      grid-gap: 51px 7.86%;
    }
    @include w767 {
      display: flex;
      grid-gap: 0;
      padding-bottom: 10px;
      overflow-x: auto;
      transform: translateX(-10px);
      padding-left: 10px;
      width: 100vw;
    }
    &:after {
      @include w767 {
        content: '';
        flex: 0 0 10px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include w767 {
      flex: 0 0 75px;
    }
    &:not(:last-child) {
      @include w767 {
        margin-right: 24px;
      }
    }
    &:nth-child(5) ~ &:nth-child(-n + 10) {
      align-items: flex-end;
    }
  }
  &-item {
    &__link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      @include w1023 {
        width: 100%;
        align-items: center;
      }
      @include hover {
        &:hover,
        &:focus {
          color: var(--orange);
          path {
            fill: var(--orange);
          }
        }
      }
      @include active {
        &:active {
          color: var(--orange);
          path {
            fill: var(--orange);
          }
        }
      }
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 96px;
      margin-bottom: 20px;
      border-radius: 21px;
      background-color: var(--grey2);
      color: #441a03;
      @include w767 {
        width: 75px;
        height: 75px;
      }
      svg {
        @include w767 {
          width: 44px;
          height: auto;
        }
      }
      path {
        transition: fill 0.2s;
      }
    }
    &__title {
      width: 100%;
      margin: 0;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      transition: color 0.2s;
      white-space: nowrap;
      @include w767 {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
