.faq {
  @include w767 {
    margin-bottom: 100px;
  }
  &__title {
    position: relative;
    max-width: 480px;
    @include w767 {
      max-width: none;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 79px;
      width: 158px;
      height: 6px;
      background-color: var(--orange);
      @include w767 {
        left: 194px;
        top: 21px;
        width: 89px;
        height: 4px;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 32px));
    grid-gap: 0 64px;
    margin-bottom: 44px;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      grid-template-columns: repeat(2, calc(50% - 28px));
      grid-gap: 56px;
      margin-bottom: 46px;
    }
    @include w767 {
      grid-template-columns: auto;
      grid-gap: 0;
      margin-bottom: 20px;
    }
  }
  &__item {
    &.accordion--active {
      .faq-item__title:before {
        top: 28px;
        transform: rotate(-45deg) scale(-1);
      }
      .faq-item__content {
        margin-bottom: 20px;
      }
    }
  }
  &-item {
    &__title {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 62px;
      padding: 0;
      padding-right: 40px;
      background: none;
      border: none;
      border-top: 2px solid var(--grey2);
      cursor: pointer;
      text-align: left;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      transition: color 0.2s;
      @include w767 {
        height: 56px;
        font-size: 12px;
        line-height: 18px;
      }
      @include hover {
        &:hover,
        &:focus {
          color: var(--green01);
          &:before {
            border-color: var(--green01);
          }
        }
      }
      @include active {
        &:active {
          color: var(--green01);
          &:before {
            border-color: var(--green01);
          }
        }
      }
      &:before {
        content: '';
        position: absolute;
        right: 6px;
        top: 24px;
        width: 7px;
        height: 7px;
        border-left: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
        transform: rotate(-45deg);
        transition: 0.2s;
        @include w767 {
          right: 7px;
          top: 21px;
        }
      }
    }
    &__content {
      position: absolute;
      overflow: hidden;
      color: var(--grey3);
      transition: height 0.3s;
      opacity: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    padding: 12px 30px;
    svg {
      margin-left: 10px;
    }
  }
}
