.goods {
  overflow: hidden;
  &__title {
    position: relative;
    max-width: 450px;
    @include w767 {
      max-width: max-content;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 3px;
      width: 133px;
      height: 6px;
      background-color: var(--orange);
      @include w767 {
        right: -3px;
        left: auto;
        width: 78px;
        height: 4px;
      }
    }
  }
  &__wrap {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
      top: 76px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0;
      opacity: 1;
      visibility: visible;
      transition: box-shadow 0.2s, color 0.2s, background 0.2s, opacity 0.2s, visibility 0s 0s;
      @include w1200 {
        display: none;
      }
      &:after {
        display: none;
      }
      &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
        transition: box-shadow 0.2s, color 0.2s, background 0.2s, opacity 0.2s, visibility 0s 0.2s;
      }
    }
    .swiper-button-prev {
      left: calc(100vw / 2 - 600px);
      @media screen and (max-width: 1260px) {
        left: calc(100vw / 2 - 540px);
      }
    }
    .swiper-button-next {
      right: calc(100vw / 2 - 600px);
      @media screen and (max-width: 1260px) {
        right: calc(100vw / 2 - 540px);
      }
    }
  }
  &__slider {
    transform: translateX(-30px);
    width: calc(100% + 60px);
    margin-bottom: 40px;
    padding: 0 30px 30px;
    @include w1023 {
      transform: translateX(-34px);
      width: calc(100% + 68px);
      padding: 0 34px 30px;
    }
    @include w767 {
      transform: translateX(-10px);
      width: calc(100% + 20px);
      margin-bottom: 20px;
      padding: 0 10px 30px;
    }
  }
  &__wrapper {
    padding-left: 0;
    list-style: none;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    @include hover {
      &:hover {
        .goods-slide__btn {
          background: var(--green01);
          box-shadow: var(--accent-unit-with-green-back);
          color: var(--white);
          cursor: pointer;
          @include hover {
            &:hover,
            &:focus {
              background: var(--red01);
              box-shadow: var(--interface-with-white-back);
            }
            &:active {
              background: var(--red02);
              box-shadow: var(--interface-inner-shadow);
              color: var(--input-active);
            }
          }
          @include active {
            &:active {
              background: var(--red02);
              box-shadow: var(--interface-inner-shadow);
              color: var(--input-active);
            }
          }
          path {
            &[fill] {
              fill: var(--white);
            }
            &[stroke] {
              stroke: var(--white);
            }
          }
        }
        .goods-slide-gallery__item:before {
          opacity: 1;
        }
      }
    }
  }
  &__slide {
    @include w1023 {
      width: 175px;
    }
    @include w767 {
      width: 120px;
    }
  }
  &-slide {
    &__link {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      @include w767 {
        margin-bottom: 10px;
      }
      @include hover {
        &:focus {
          .goods-slide__title {
            color: var(--green01);
          }
        }
      }
      @include active {
        &:active {
          .goods-slide__title {
            color: var(--green01);
          }
        }
      }
    }
    &__gallery {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      padding-left: 0;
      list-style: none;
      border-radius: 24px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--grey2);
      transition: background-image 0.2s;
    }
    &-gallery {
      &__wrap {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 100%;
        @include w1023 {
          margin-bottom: 22px;
        }
        @include w767 {
          margin-bottom: 10px;
        }
      }
      &__item {
        position: relative;
        flex: 1;
        @include hover {
          &:hover:before {
            background-color: var(--grey3);
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: 12px;
          left: 5px;
          width: calc(100% - 10px);
          height: 2px;
          background-color: var(--grey);
          border-radius: 2px;
          transition: 0.2s;
          opacity: 0;
        }
        &:nth-child(1):before {
          left: 16px;
          width: calc(100% - 21px);
        }
        &:nth-last-child(1):before {
          width: calc(100% - 21px);
        }
        &:nth-child(1):nth-last-child(1):before {
          width: calc(100% - 32px);
        }
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      transition: color 0.2s;
      @include w767 {
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      margin-top: auto;
      padding: 12px 30px;
      @include hover {
        &:focus {
          color: var(--white);
          background: var(--red01);
          box-shadow: var(--interface-with-white-back);
          path {
            &[fill] {
              fill: var(--white);
            }
            &[stroke] {
              stroke: var(--white);
            }
          }
        }
      }
      @include active {
        &:active {
          background: var(--red02);
          box-shadow: var(--interface-inner-shadow);
          color: var(--input-active);
          path {
            &[fill] {
              fill: var(--white);
            }
            &[stroke] {
              stroke: var(--white);
            }
          }
        }
      }
      svg {
        margin-left: 11px;
      }
    }
  }
  &__line {
    height: 2px;
    background-color: var(--grey2);
  }
}
