.included {
  padding: 120px 0;
  background: var(--linear-40);
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    padding: 30px;
    background-color: var(--neutrals-12);
    border-radius: 7px;
  }
  &-item {
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      margin-bottom: 20px;
      border-radius: 50%;
      background-color: var(--violet-1);
    }
  }
}
