.reviews {
  &__top {
    display: grid;
    grid-template-columns: 68.66% 31.34%;
    @include w1023 {
      display: block;
    }
  }
  &__slider {
    @include w767 {
      padding-bottom: 186px;
    }
  }
  &-slider {
    &__wrap {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--green01);
        border-radius: 0px 28px 28px 0px;
        @include w1023 {
          right: -34px;
          border-radius: 0;
        }
        @include w767 {
          right: -10px;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 176px;
      width: auto;
      height: auto;
      margin-top: 0;
      @include w1023 {
        top: 275px;
      }
      @include w767 {
        top: 140px;
      }
      @include hover {
        &:hover,
        &:focus {
          path {
            fill: var(--white);
          }
        }
      }
      @include active {
        &:active {
          path {
            fill: var(--white);
          }
        }
      }
      &:after {
        display: none;
      }
      path {
        transition: fill 0.2s;
      }
    }
    .swiper-button-prev {
      right: 80px;
      left: auto;
      @include w1023 {
        right: 55px;
      }
      @include w767 {
        right: 48px;
      }
    }
    .swiper-button-next {
      right: 32px;
      @include w1023 {
        right: 15px;
      }
      @include w767 {
        right: 0;
      }
    }
  }
  &__slide {
    display: grid;
    grid-template-columns: 216px 1fr 192px;
    height: 343px;
    padding-top: 50px;
    opacity: 0 !important;
    @include w1023 {
      grid-template-columns: 203px 1fr 138px;
      height: 435px;
    }
    @include w767 {
      grid-template-columns: 65% 35%;
    }
    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }
  &-slide {
    &__col {
      padding-right: 20px;
      @include w1023 {
        padding-right: 10px;
      }
      &:nth-child(2) {
        @include w767 {
          order: 2;
          grid-column: 1 / 3;
        }
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 32px;
        @include w1023 {
          padding-right: 1px;
        }
      }
    }
    &__photo {
      width: 54px;
      height: 54px;
      margin-bottom: 13px;
      border-radius: 50%;
      object-fit: cover;
      @include w767 {
        width: 60px;
        height: 60px;
        margin-bottom: 11px;
      }
    }
    &__name {
      display: block;
      margin-bottom: 1px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: var(--white);
      @include w767 {
        margin-bottom: 3px;
        font-size: 18px;
        line-height: 28px;
      }
    }
    &__position {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: var(--green02);
    }
    &__title {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: var(--white);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include w1200 {
        font-size: 20px;
        line-height: 28px;
      }
      @include w1023 {
        font-size: 24px;
        line-height: 32px;
      }
      @include w767 {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 28px;
      }
    }
    &__text {
      color: var(--white);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include w1023 {
        -webkit-line-clamp: 5;
      }
    }
  }
  &__col {
    position: relative;
    padding-top: 166px;
    padding-left: 72px;
    @include w1023 {
      padding-left: 0;
      padding-top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      right: 120px;
      top: -21px;
      width: 20px;
      height: 21px;
      background: url('../images/icon-reviews-decor.svg') center/contain no-repeat;
      @include w1023 {
        display: none;
      }
    }
  }
  &__more {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 12px 30px;
    @include w1023 {
      margin-top: -165px;
    }
    @include w767 {
      margin-top: -217px;
    }
    svg {
      margin-left: 10px;
    }
  }
  &__bot {
    position: relative;
    z-index: 2;
    margin-top: -87px;
    @include w1023 {
      margin-top: 50px;
    }
  }
  &-bot {
    &__wide {
      background: var(--white);
      box-shadow: var(--decorative-unit);
      border-radius: 7px;
      overflow: hidden;
    }
    &__headline {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 24px;
      padding: 0 8px;
      background: var(--head-line);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    }
    &__list {
      display: grid;
      grid-template-columns: 160px 200px 240px 160px;
      grid-gap: 40px;
      padding: 26px 40px 28px 40px;
      list-style: none;
      @include w1023 {
        display: flex;
        justify-content: space-between;
        grid-gap: 0;
        padding: 26px 20px 32px;
      }
      @include w767 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 28px 0;
        padding: 26px 5px 30px 20px;
      }
    }
    &__item {
      &:nth-child(1) {
        @include w1023 {
          flex: 0 0 21.81%;
        }
      }
      &:nth-child(2) {
        padding-left: 40px;
        @include w1023 {
          flex: 0 0 23.94%;
          padding-right: 14px;
          padding-left: 0;
        }
        @include w767 {
          padding-left: 7px;
        }
      }
      &:nth-child(3) {
        @include w1023 {
          flex: 0 0 27.87%;
        }
      }
      &:nth-child(4) {
        @include w1023 {
          flex: 0 0 26.36%;
          padding-left: 30px;
        }
        @include w767 {
          padding-left: 7px;
        }
      }
    }
    &-item {
      &__title {
        margin-bottom: 12px;
        font-weight: 600;
        @include w767 {
          margin-bottom: 10px;
        }
      }
      &__text {
        color: var(--grey3);
        @include w1023 {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
    &__col {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;
      margin-top: -87px;
      margin-left: 50vw;
      @include w1023 {
        width: 23.96%;
        margin-top: -100px;
        margin-left: calc(50vw - 28px);
      }
      @include w767 {
        width: calc(50vw - 10px);
        margin-top: -112px;
        margin-left: 10px;
      }
    }
    &-col {
      &__box {
        margin-bottom: 28px;
        background: var(--white);
        box-shadow: var(--decorative-unit);
        border-radius: 7px;
        overflow: hidden;
        @include w767 {
          margin-bottom: 20px;
        }
      }
      &__info {
        padding: 26px 40px 28px 40px;
        @include w1023 {
          padding: 26px 20px 28px;
        }
        @include w767 {
          padding: 26px 10px 16px;
        }
        .reviews-bot-item__title {
          @include w767 {
            margin-bottom: 16px;
          }
        }
      }
      &__link {
        padding: 12px 30px;
      }
    }
  }
}
