.tariffs {
  overflow: hidden;
  &__wrap {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 2;
      top: -126px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      margin: 0;
      background: var(--neutrals-12);
      box-shadow: var(--arrows-shadow);
      border-radius: 50px;
      transition: background 0.2s;
      path {
        transition: stroke 0.2s;
      }
      @include hover {
        &:hover,
        &:focus {
          background: var(--violet-2);
          path {
            stroke: var(--neutrals-12);
          }
        }
      }
      @include active {
        &:active {
          color: var(--violet-1);
        }
      }
      &:after {
        display: none;
      }
    }
    .swiper-button-prev {
      right: 61px;
      left: auto;
    }
    .swiper-button-next {
      right: 0;
    }
  }
  &__slider {
    overflow: visible;
  }
  &__wrapper {
    padding-left: 0;
    list-style: none;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: var(--card-shadow);
    border-radius: 7px;
    overflow: hidden;
  }
  &-slide {
    &__title {
      margin: 0;
      padding: 18px 30px;
      background: var(--linear-for-card);
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      padding: 30px;
    }
    &__constructor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex: 1;
    }
    &-constructor {
      &__icon {
        width: 79px;
        height: 74px;
        margin-top: -30px;
        margin-bottom: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &__text {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
      }
    }
    &__btn {
      width: 100%;
      margin-top: auto;
      padding: 10px 0;
    }
    &__list {
      margin-bottom: 25px;
      padding-left: 0;
      list-style: none;
    }
    &__item {
      position: relative;
      padding-bottom: 18px;
      padding-left: 29px;
      border-bottom: 1px solid var(--neutrals-9);
      font-size: 14px;
      line-height: 19px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:not(:last-child) {
        margin-bottom: 18px;
      }
      &[data-ok='ok']:before {
        background-image: url('../images/icon-tariffs-ok.svg');
      }
      &[data-ok='notok']:before {
        background-image: url('../images/icon-tariffs-notok.svg');
      }
    }
    &__price {
      margin-bottom: 25px;
      font-weight: 800;
      font-size: 34px;
      line-height: 46px;
      text-transform: uppercase;
      span {
        display: inline-block;
        margin-left: 3px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: lowercase;
      }
    }
  }
}
