@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/indents';

:root {
  --black: #000000;
  --white: #ffffff;
  --input-active: rgba(255, 255, 255, 0.8);
  --red01: #ff2f54;
  --red02: #e62a4c;
  --green01: #10bb87;
  --green02: #487b6c;
  --orange: #ffa630;
  --orange2: #d87b00;
  --grey: #e5e5e5;
  --grey2: #f2f2f2;
  --grey3: #b3b3b3;
  --grey4: #fafafa;
  --head-line: linear-gradient(180deg, #4d4d4d 0%, #262626 100%);
  --decorative-icon: rgba(0, 0, 0, 0.07);
  --interface-with-white-back: 0px 4px 7px rgba(0, 0, 0, 0.15);
  --interface-inner-shadow: inset 4px 4px 10px -7px rgba(0, 0, 0, 0.25);
  --interface-little: 0px 2px 3px 0px rgb(0 0 0 / 15%);
  --accent-unit-with-green-back: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
  --accent-unit: 0px 9px 25px rgba(0, 0, 0, 0.17);
  --accent-unit-invers: 0px -9px 25px rgba(0, 0, 0, 0.17);
  --decorative-unit: 0px 10px 40px rgba(0, 0, 0, 0.15);
  --selection-color: rgba(16, 187, 135, 0.99);
  --img-selection-color: rgba(16, 187, 135, 0.5);
}

::selection {
  color: var(--white);
  background-color: var(--selection-color);
}

img::selection {
  background-color: var(--img-selection-color);
}

img::-moz-selection {
  background-color: var(--img-selection-color);
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--green01);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: var(--white);
  }
}

html {
  background-color: var(--white);
  overflow-x: hidden;
  &.fixed {
    overflow: hidden;
  }
  &.compensate-for-scrollbar {
    margin-right: 4px;
    @-moz-document url-prefix() {
      margin-right: 17px;
    }
    .header {
      padding-right: 4px;
      @-moz-document url-prefix() {
        padding-right: 17px;
      }
      &__mobmenu {
        left: calc(50% - 280px);
        @-moz-document url-prefix() {
          left: calc(50% - 293px);
        }
      }
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--black);
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  transition: opacity 0.2s;
  overflow-x: hidden;
  @include w767 {
    font-size: 12px;
    line-height: 18px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  padding: $padding-container;
  &--big {
    max-width: 1268px;
  }
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
  @include w767 {
    margin-bottom: $mobile-margin-section;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:not([class]) {
    margin-left: 4px;
    color: var(--green01);
    @include hover {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    @include active {
      &:active {
        text-decoration: underline;
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  @include w767 {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 28px;
  }
}

.primary-btn {
  display: inline-block;
  background: var(--green01);
  border: none;
  border-radius: 10px;
  box-shadow: var(--accent-unit-with-green-back);
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  transition: 0.2s;
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
      background: var(--red01);
      box-shadow: var(--interface-with-white-back);
    }
    &:active {
      background: var(--red02);
      box-shadow: var(--interface-inner-shadow);
      color: var(--input-active);
    }
  }
  @include active {
    &:active {
      background: var(--red02);
      box-shadow: var(--interface-inner-shadow);
      color: var(--input-active);
    }
  }
  path {
    transition: 0.2s;
    &[fill] {
      fill: var(--white);
    }
    &[stroke] {
      stroke: var(--white);
    }
  }
}

.secondary-btn {
  display: inline-block;
  background: var(--white);
  border: none;
  border-radius: 10px;
  box-shadow: var(--interface-with-white-back);
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--black);
  transition: 0.2s;
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
      box-shadow: none;
      color: var(--green01);
      background: var(--grey4);
      path {
        &[fill] {
          fill: var(--green01);
        }
        &[stroke] {
          stroke: var(--green01);
        }
      }
    }
    &:active {
      box-shadow: var(--interface-inner-shadow);
      color: var(--green02);
      background: var(--grey4);
      path {
        &[fill] {
          fill: var(--green02);
        }
        &[stroke] {
          stroke: var(--green02);
        }
      }
    }
  }
  @include active {
    &:active {
      box-shadow: var(--interface-inner-shadow);
      color: var(--green02);
      background: var(--grey4);
      path {
        &[fill] {
          fill: var(--green02);
        }
        &[stroke] {
          stroke: var(--green02);
        }
      }
    }
  }
  path {
    transition: 0.2s;
  }
}

.select {
  &--active {
    .select-content {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
  }
  &-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.3s;
  }
}

input:not([type]),
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  border: none;
  background: var(--white);
  box-shadow: var(--interface-with-white-back);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--black);
  transition: 0.2s;
  &::placeholder {
    color: var(--grey);
  }
  &:hover,
  &:focus {
    box-shadow: var(--interface-little);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px var(--white) inset;
    -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--black);
  }
  &.input-err {
    color: var(--red01);
    &::placeholder {
      color: var(--red01);
    }
  }
  &.input-ok {
    color: var(--black);
    &::placeholder {
      color: var(--grey);
    }
  }
}

input:not([type]),
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
}

@import 'blocks/common/header';
@import 'blocks/common/footer';
@import 'blocks/common/form';
@import 'blocks/mainpage/banner';
@import 'blocks/mainpage/about';
@import 'blocks/mainpage/constructor';
@import 'blocks/mainpage/goods';
@import 'blocks/mainpage/services';
@import 'blocks/mainpage/categories';
@import 'blocks/mainpage/reviews';
@import 'blocks/mainpage/news';
@import 'blocks/mainpage/faq';
@import 'blocks/mainpage/help';

