@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/indents';

:root {
  --text-color: #000000;
  --bg: #ffffff;
  --red: #ff2f54;
  --green01: #10bb87;
  --green02: #487b6c;
  --orange: #ffa630;
  --orange2: #d87b00;
  --grey: #e5e5e5;
  --grey2: #f2f2f2;
  --grey3: #b3b3b3;
  --selection-color: rgba(16, 187, 135, 0.99);
  --img-selection-color: rgba(16, 187, 135, 0.5);
}

::selection {
  color: var(--bg);
  background-color: var(--selection-color);
}

img::selection {
  background-color: var(--img-selection-color);
}

img::-moz-selection {
  background-color: var(--img-selection-color);
}

@media screen and (min-width: 1201px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--green01);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bg);
  }
}

html {
  background-color: var(--bg);
}

body {
  height: 6936px;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  padding: $padding-container;
  &--big {
    max-width: 1268px;
  }
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:not([class]) {
    margin-left: 5px;
    color: var(--green01);
    @include hover {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    @include active {
      &:active {
        text-decoration: underline;
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.primary-btn {
  display: inline-block;
  background: var(--green01);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--bg);
  transition: background 0.2s, border-color 0.2s, transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
    }
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include active {
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
}

.secondary-btn {
  display: inline-block;
  background: var(--bg);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
  transition: background 0.2s, border-color 0.2s, transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
    }
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include active {
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
}

.select {
  &--active {
    .select-content {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
  }
  &-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.3s;
  }
}

input[type='text'],
textarea {
  width: 100%;
  border: none;
  background: var(--neutrals-12);
  box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
  transition: 0.2s;
  &::placeholder {
    color: #d9d9d9;
  }
  &:hover,
  &:focus {
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px var(--bg) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color);
  }
  &.input-err {
  }
  &.input-border {
  }
}

input[type='text'] {
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
}

@import 'blocks/common/header';
@import 'blocks/common/footer';
@import 'blocks/mainpage/banner';
