@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/indents';

:root {
  --linear: linear-gradient(270deg, #c5b4ff 6.56%, #cdf7fb 36.06%, #c9e3fb 62.99%, #c5cdfc 94.22%);
  --linear-for-card: linear-gradient(272.21deg, #e8f4ff -50.97%, #edebff 126.1%);
  --linear-40: linear-gradient(
    272.21deg,
    rgba(232, 244, 255, 0.4) -50.97%,
    rgba(237, 235, 255, 0.4) 126.1%
  );
  --violet-1: #5b72f2;
  --violet-2: #6979f8;
  --violet-3: #8794f9;
  --violet-4: #a5afff;
  --violet-5: #c5cdfc;
  --violet-6: #e5e7fa;
  --violet-7: #edeffe;
  --lilac-1: #b29cff;
  --lilac-2: #cabaff;
  --lilac-3: #e0dcfd;
  --lilac-4: #f1f0fc;
  --blue-1: #4c9ce5;
  --blue-2: #84c4ff;
  --blue-3: #b4dbff;
  --blue-4: #c9e3fb;
  --blue-5: #e3edfd;
  --neutrals-1: #454545;
  --neutrals-2: #606060;
  --neutrals-3: #808080;
  --neutrals-4: #9f9f9f;
  --neutrals-5: #bfbfbf;
  --neutrals-6: #dfdfdf;
  --neutrals-7: #e7e7e7;
  --neutrals-8: #efefef;
  --neutrals-9: #f3f3f3;
  --neutrals-10: #f7f7f7;
  --neutrals-11: #fafafa;
  --neutrals-12: #ffffff;
  --violet-hover: #b1bbf0;
  --mint: #cdf7fb;
  --blue-violet-light: #b4c8fb;
  --blue-violet: #a5c4ff;
  --red: #eb5757;
  --green: #6fcf97;
  --selection-color: rgba(91, 114, 242, 0.99);
  --img-selection-color: rgba(91, 114, 242, 0.5);
  --card-shadow: 0px 10px 35px rgba(78, 90, 186, 0.12);
  --arrows-shadow: 0px 6px 25px rgba(78, 90, 186, 0.15);
  --screen1-shadow: 0px 10px 25px rgba(78, 90, 186, 0.25);
  --screen2-shadow: 0px 15px 40px rgba(78, 90, 186, 0.35);
  --on-violet-shadow: 0px 20px 50px rgba(61, 84, 217, 0.3);
  --on-violet-dark-shadow: 0px 6px 20px rgba(46, 65, 166, 0.25);
  --inputs-shadow: 0px 5px 17px rgba(78, 90, 186, 0.15);
}

::selection {
  color: var(--neutrals-12);
  background-color: var(--selection-color);
}

img::selection {
  background-color: var(--img-selection-color);
}

img::-moz-selection {
  background-color: var(--img-selection-color);
}

@media screen and (min-width: 1201px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--violet-1);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: var(--neutrals-12);
  }
}

html {
  background-color: var(--neutrals-12);
}

body {
  font-family: 'Open Sans';
  color: var(--neutrals-1);
  font-size: 16px;
  line-height: 22px;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  @include w1023 {
    font-size: 14px;
    line-height: 19px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $padding-container;
  @include w1366 {
    padding: $tablet-padding-container;
  }
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
  @include w1023 {
    margin-bottom: $tablet-margin-section;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:not([class]) {
    margin-left: 5px;
    color: var(--violet-1);
    @include hover {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    @include active {
      &:active {
        text-decoration: underline;
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  margin-bottom: 70px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  text-transform: uppercase;
  @include w1200 {
    font-size: 41px;
    line-height: 56px;
  }
  @include w1023 {
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 46px;
  }
}

.primary-btn {
  display: inline-block;
  background: var(--violet-3);
  border: 2px solid var(--violet-3);
  border-radius: 7px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--neutrals-12);
  transition: background 0.2s, border-color 0.2s, transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
      background: var(--violet-1);
      border-color: var(--violet-1);
    }
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include active {
    &:active {
      background: var(--violet-1);
      border-color: var(--violet-1);
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include w1023 {
    font-size: 14px;
    line-height: 19px;
  }
}

.secondary-btn {
  display: inline-block;
  background: none;
  border: 2px solid var(--violet-3);
  border-radius: 7px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--violet-3);
  transition: background 0.2s, border-color 0.2s, transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  @include hover {
    &:hover,
    &:focus {
      background: var(--violet-7);
    }
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include active {
    &:active {
      background: var(--violet-7);
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
  @include w1023 {
    font-size: 14px;
    line-height: 19px;
  }
}

.select {
  &--active {
    .select-content {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
    }
  }
  &-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.3s;
  }
}

input[type='text'],
textarea {
  width: 100%;
  border: 2px solid transparent;
  background: var(--neutrals-12);
  box-shadow: var(--inputs-shadow);
  font-size: 16px;
  line-height: 22px;
  color: var(--neutrals-1);
  transition: 0.2s;
  @include w1023 {
    font-size: 14px;
    line-height: 19px;
  }
  &::placeholder {
    color: var(--neutrals-4);
  }
  &:hover,
  &:focus {
    border-color: var(--violet-3);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px var(--neutrals-12) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--neutrals-12) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--neutrals-1);
  }
  &.input-err {
    border-color: var(--red);
  }
  &.input-border {
    border-color: var(--violet-3);
  }
}

input[type='text'] {
  height: 52px;
  padding: 0 28px;
  border-radius: 100px;
  @include w1023 {
    height: 49px;
  }
}

textarea {
  height: 156px;
  padding: 13px 28px;
  resize: none;
  border-radius: 26px;
  @include w1023 {
    height: 135px;
  }
}

@import 'blocks/common/header';
@import 'blocks/common/breadcrumbs';
@import 'blocks/common/footer';
@import 'blocks/common/form';
@import 'blocks/mainpage/banner';
@import 'blocks/mainpage/about';
@import 'blocks/mainpage/features';
@import 'blocks/mainpage/tariffs';
@import 'blocks/mainpage/included';
@import 'blocks/mainpage/contacts';
@import 'blocks/mainpage/faq';
@import 'blocks/otherpages/download';
@import 'blocks/otherpages/documentation';
@import 'blocks/otherpages/text';
@import 'blocks/otherpages/404';
