extends ../template

block variables
  - var title = 'Документация'  

block content
  section.documentation.margin-section
    .container
      h1.title Документация
      ul.documentation__categories
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 2L3 14H12L11 22L21 10H12L13 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Начало работы
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 22C9.55228 22 10 21.5523 10 21C10 20.4477 9.55228 20 9 20C8.44772 20 8 20.4477 8 21C8 21.5523 8.44772 22 9 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1 1H5L7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Оплата и подписки
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Работа с профилями
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 20V10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18 20V4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 20V16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Настройки proxy
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 8H19C20.0609 8 21.0783 8.42143 21.8284 9.17157C22.5786 9.92172 23 10.9391 23 12C23 13.0609 22.5786 14.0783 21.8284 14.8284C21.0783 15.5786 20.0609 16 19 16H18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2 8H18V17C18 18.0609 17.5786 19.0783 16.8284 19.8284C16.0783 20.5786 15.0609 21 14 21H6C4.93913 21 3.92172 20.5786 3.17157 19.8284C2.42143 19.0783 2 18.0609 2 17V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 1V4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 1V4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14 1V4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Работа с cookies
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 8V21H3V8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23 3H1V8H23V3Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 12H14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title История версий
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.08984 8.99959C9.32495 8.33126 9.789 7.7677 10.3998 7.40873C11.0106 7.04975 11.7287 6.91853 12.427 7.0383C13.1253 7.15808 13.7587 7.52112 14.2149 8.06312C14.6712 8.60512 14.9209 9.29112 14.9198 9.99959C14.9198 11.9996 11.9198 12.9996 11.9198 12.9996" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 17H12.01" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title FAQ
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть
        li.documentation__category.documentation-category
          .documentation-category__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 3H4C2.89543 3 2 3.89543 2 5V15C2 16.1046 2.89543 17 4 17H20C21.1046 17 22 16.1046 22 15V5C22 3.89543 21.1046 3 20 3Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 21H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 17V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.documentation-category__title Автоматизация и API
          ul.documentation-category__list
            li.documentation-category__item
              a.documentation-category__link(href="#") Системные требования
            li.documentation-category__item
              a.documentation-category__link(href="#") Установка и регистрация
            li.documentation-category__item
              a.documentation-category__link(href="#") Настройки аккаунта
          a.documentation-category__more(href="#") Развернуть