extends ../template

block variables
  - var title = 'Главная'

block content
  section.banner
    .banner__wrap
      .container.banner__container
        h1.title.banner__title Планируете сделать принт? Вы пришли по адресу
        p.banner__text Reklem - только оптовая работа высокого качества с индивидуальным подходом. Работаем с 2008 года.
        a.primary-btn.banner__link(href="#") Перейти в каталог
      ul.banner__gallery.banner-gallery
        li.banner-gallery__item
          a.banner-gallery__link(href="#")
            img.banner-gallery__img(src="images/gallery1.png" alt="Текстиль")
            img.banner-gallery__hover(src="images/gallery1-hover.png" alt="Текстиль")
            span.banner-gallery__name Текстиль
        li.banner-gallery__item
          a.banner-gallery__link(href="#")
            img.banner-gallery__img(src="images/gallery2.png" alt="Кружки и термокружки")
            img.banner-gallery__hover(src="images/gallery2-hover.png" alt="Кружки и термокружки")
            span.banner-gallery__name Кружки и термокружки
        li.banner-gallery__item
          a.banner-gallery__link(href="#")
            img.banner-gallery__img(src="images/gallery3.png" alt="Флеш-карты")
            img.banner-gallery__hover(src="images/gallery3-hover.png" alt="Флеш-карты")
            span.banner-gallery__name Флеш-карты
        li.banner-gallery__item
          a.banner-gallery__link(href="#")
            img.banner-gallery__img(src="images/gallery4.png" alt="Канцелярия")
            img.banner-gallery__hover(src="images/gallery4-hover.png" alt="Канцелярия")
            span.banner-gallery__name Канцелярия
        li.banner-gallery__item
          a.banner-gallery__link(href="#")
            img.banner-gallery__img(src="images/gallery5.png" alt="Аксессуары")
            img.banner-gallery__hover(src="images/gallery5-hover.png" alt="Аксессуары")
            span.banner-gallery__name Аксессуары

  section.about
    .container.about__container.margin-section
      .about__col
        h2.title.about__title Пара слов о нас, производстве и&nbsp;брендинге
        .about__text
          p В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта.
          p В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта опыт мы упускаем, что ключевые особенности структуры проекта.
        a.primary-btn.about__link(href="#") О компании
      .about__col
        picture.about__picture
          img.about__img(src="images/about.jpg" alt="Пара слов о нас, производстве и брендинге")
    ul.container.about__list.about-list
      li.about-list__item.about-list-item
        .about-list-item__icon
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.3133 21.8118C31.9235 22.422 31.9235 23.4113 31.3133 24.0215L24.0216 31.3132C23.4114 31.9234 22.4221 31.9234 21.8119 31.3132L17.6452 27.1465C17.035 26.5363 17.035 25.547 17.6452 24.9368C18.2554 24.3266 19.2447 24.3266 19.8549 24.9368L22.9168 27.9986L29.1036 21.8118C29.7138 21.2016 30.7031 21.2016 31.3133 21.8118Z" fill="#10BB87"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9415 12.934C23.7117 12.934 20.918 14.8138 19.6003 17.5461C19.2461 18.2807 18.3864 18.6192 17.6263 18.3235C16.604 17.9257 15.4905 17.7066 14.3222 17.7066C9.28786 17.7066 5.20674 21.7877 5.20674 26.822C5.20674 31.8564 9.28786 35.9375 14.3222 35.9375H38.5902C42.0161 35.9375 44.7934 33.1602 44.7934 29.7342C44.7934 26.3082 42.0161 23.5309 38.5902 23.5309C38.0327 23.5309 37.4948 23.6041 36.9843 23.7404C36.4838 23.8741 35.9497 23.7511 35.5581 23.412C35.1666 23.0728 34.9685 22.5617 35.0294 22.0473C35.0669 21.7303 35.0862 21.4071 35.0862 21.0787C35.0862 16.5805 31.4397 12.934 26.9415 12.934ZM17.4584 14.9875C19.4621 11.8744 22.9594 9.80896 26.9415 9.80896C32.9426 9.80896 37.8481 14.4995 38.192 20.4143C38.3241 20.4088 38.4568 20.4059 38.5902 20.4059C43.742 20.4059 47.9184 24.5824 47.9184 29.7342C47.9184 34.8861 43.742 39.0625 38.5902 39.0625H14.3222C7.56197 39.0625 2.08174 33.5822 2.08174 26.822C2.08174 20.0619 7.56197 14.5816 14.3222 14.5816C15.4048 14.5816 16.4563 14.7225 17.4584 14.9875Z" fill="#10BB87"/>
          </svg>
        h3.about-list-item__title Онлайн конструктор
        p.about-list-item__text С конструктором создавайте свои уникальные дизайны
      li.about-list__item.about-list-item
        .about-list-item__icon
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3013 14.3383C17.0378 11.5924 20.8193 9.89587 25 9.89587C33.3418 9.89587 40.1042 16.6582 40.1042 25C40.1042 33.3418 33.3418 40.1042 25 40.1042C16.6582 40.1042 9.89584 33.3418 9.89584 25C9.89584 24.1371 9.19629 23.4375 8.33334 23.4375C7.4704 23.4375 6.77084 24.1371 6.77084 25C6.77084 35.0677 14.9323 43.2292 25 43.2292C35.0677 43.2292 43.2292 35.0677 43.2292 25C43.2292 14.9323 35.0677 6.77087 25 6.77087C19.9552 6.77087 15.3866 8.82217 12.0878 12.1324C12.0348 12.1856 11.9864 12.2416 11.9426 12.3001L9.32267 9.68014C9.03687 9.39433 8.61154 9.29966 8.23149 9.43726C7.85145 9.57485 7.58531 9.91987 7.54871 10.3224L6.81214 18.4247C6.78415 18.7325 6.89436 19.0369 7.11296 19.2555C7.33156 19.4741 7.63596 19.5843 7.94384 19.5564L16.0461 18.8198C16.4486 18.7832 16.7937 18.5171 16.9312 18.137C17.0688 17.757 16.9742 17.3316 16.6884 17.0458L14.1298 14.4873C14.1896 14.4424 14.247 14.3928 14.3013 14.3383Z" fill="#10BB87"/>
            <path d="M26.5625 14.5834C26.5625 13.7204 25.863 13.0209 25 13.0209C24.1371 13.0209 23.4375 13.7204 23.4375 14.5834V25C23.4375 25.5388 23.715 26.0395 24.1719 26.325L30.4219 30.2313C31.1537 30.6886 32.1176 30.4662 32.575 29.7344C33.0324 29.0026 32.8099 28.0387 32.0781 27.5813L26.5625 24.134V14.5834Z" fill="#10BB87"/>
          </svg>
        h3.about-list-item__title Принт за 24 часа
        p.about-list-item__text Некоторые заказы можем произвести быстрее суток
      li.about-list__item.about-list-item
        .about-list-item__icon
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.3621 4.81241C28.9384 5.05778 29.3125 5.62364 29.3125 6.25004V20.8296H37.5C38.0557 20.8296 38.5695 21.1247 38.8495 21.6046C39.1296 22.0845 39.1337 22.677 38.8604 23.1608L37.8352 24.975C33.9475 31.8556 28.9894 38.0735 23.1471 43.3954L21.4897 44.9051C21.0323 45.3218 20.3721 45.4293 19.8061 45.1793C19.2401 44.9293 18.875 44.3688 18.875 43.75V29.2941H10.4167C9.55374 29.2941 8.85419 28.5945 8.85419 27.7316C8.85419 27.4521 8.92757 27.1897 9.05613 26.9627C12.7203 20.1889 17.4115 14.0233 22.963 8.68534L26.667 5.12374C27.1186 4.68957 27.7857 4.56703 28.3621 4.81241ZM13.0929 26.1691H20.4375C21.3005 26.1691 22 26.8686 22 27.7316V40.197C27.0388 35.4354 31.3577 29.9639 34.8196 23.9546H27.75C26.8871 23.9546 26.1875 23.255 26.1875 22.3921V9.92007L25.1289 10.9379C20.4398 15.4467 16.3913 20.5717 13.0929 26.1691Z" fill="#10BB87"/>
          </svg>
        h3.about-list-item__title Быстрая доставка
        p.about-list-item__text Сотрудничаем с быстрыми и надежными службами
      li.about-list__item.about-list-item
        .about-list-item__icon
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9148 7.0199H37.5C40.6641 7.0199 43.2291 9.58493 43.2291 12.7491V16.9157C43.2291 18.5911 42.0992 20.0025 40.5598 20.4293C40.8599 24.2347 40.6861 34.2923 40.0406 38.0591C39.6551 40.3084 37.8283 42.0315 35.5604 42.285L33.6552 42.4979C27.903 43.1408 22.097 43.1408 16.3447 42.4979L14.4396 42.285C12.1716 42.0315 10.3448 40.3084 9.95939 38.0591C9.31391 34.2923 9.14007 24.2347 9.44021 20.4293C7.90081 20.0025 6.77081 18.5911 6.77081 16.9157V12.7491C6.77081 9.58493 9.33585 7.0199 12.5 7.0199H14.0852H19.7916H30.2083H35.9148ZM9.89581 12.7491C9.89581 11.3108 11.0617 10.1449 12.5 10.1449H23.4375H26.5625H37.5C38.9382 10.1449 40.1041 11.3108 40.1041 12.7491V16.9157C40.1041 17.2034 39.871 17.4366 39.5833 17.4366H26.5625H23.4375H10.4166C10.129 17.4366 9.89581 17.2034 9.89581 16.9157V12.7491ZM26.5625 20.5616H37.4353C37.7276 24.1461 37.5686 33.9826 36.9605 37.5313C36.8102 38.4085 36.0977 39.0805 35.2133 39.1793L33.3081 39.3923C31.0658 39.6429 28.8149 39.7917 26.5625 39.8388V20.5616ZM23.4375 20.5616V39.8388C21.185 39.7917 18.9342 39.6429 16.6918 39.3923L14.7867 39.1793C13.9022 39.0805 13.1898 38.4085 13.0395 37.5313C12.4314 33.9826 12.2723 24.1461 12.5646 20.5616H23.4375Z" fill="#10BB87"/>
          </svg>
        h3.about-list-item__title Только ОПТ
        p.about-list-item__text Работаем на большие объемы брендинга
        
  section.constructor
    .container.constructor__container
      .constructor__col
        .constructor__img1
          .reviews-bot__headline
            <svg width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="4" cy="4" r="4" fill="#FF2F54"/>
              <circle cx="17" cy="4.00006" r="4" fill="#FFA630"/>
              <circle cx="30" cy="4.00006" r="4" fill="#10BB87"/>
            </svg>
          img(src="images/constructor1.png" alt="Разместите свое изображение как хотите")
        img.constructor__img2(src="images/constructor2.png" alt="Разместите свое изображение как хотите")
      .constructor__content
        .constructor__wrap
          h2.title.constructor__title Разместите свое изображение как&nbsp;хотите
          p.constructor__text В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности.
          a.secondary-btn.constructor__link(href="#") Открыть конструктор
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3033 3.6105C14.4314 3.80458 14.4101 4.06832 14.2392 4.23917L8.11095 10.3674C8.04814 10.4302 7.96971 10.4752 7.88376 10.4976L5.33148 11.1643C5.24823 11.1861 5.16243 11.1856 5.08181 11.1651C4.9961 11.1433 4.91625 11.0988 4.85157 11.0341C4.72605 10.9086 4.67649 10.7259 4.72135 10.5542L5.38802 8.00189C5.40767 7.92669 5.44453 7.85241 5.49552 7.79414L11.6465 1.64645C11.7003 1.5926 11.7652 1.55231 11.8358 1.52775C11.8881 1.50955 11.9436 1.5 12 1.5C12.1326 1.5 12.2598 1.55268 12.3536 1.64645L14.2392 3.53206C14.2636 3.55647 14.285 3.58278 14.3033 3.6105ZM13.1786 3.88562L12 2.70711L6.32127 8.38588L5.90461 9.98106L7.49978 9.56439L13.1786 3.88562Z" fill="black"/>
              <path d="M13.0943 11.4402C13.2765 9.8818 13.3345 8.31252 13.2683 6.74719C13.2651 6.67225 13.2933 6.59932 13.3463 6.54628L14.0019 5.89073C14.0825 5.81013 14.2202 5.86129 14.2277 5.97503C14.351 7.8348 14.3043 9.70302 14.0875 11.5564C13.9298 12.9047 12.8469 13.9614 11.5055 14.1113C9.19449 14.3696 6.8056 14.3696 4.49455 14.1113C3.15318 13.9614 2.07029 12.9047 1.91259 11.5564C1.63623 9.19351 1.63623 6.80649 1.91259 4.44362C2.07029 3.09527 3.15318 2.03859 4.49455 1.88867C6.24772 1.69273 8.04568 1.64543 9.82047 1.74677C9.93486 1.75331 9.987 1.89172 9.90599 1.97273L9.24429 2.63443C9.19182 2.6869 9.11988 2.71507 9.04573 2.71257C7.56145 2.66251 6.06708 2.71915 4.60563 2.88249C3.71889 2.98159 3.00856 3.68134 2.90582 4.55979C2.63849 6.84547 2.63849 9.15452 2.90582 11.4402C3.00856 12.3187 3.71889 13.0184 4.60563 13.1175C6.84286 13.3675 9.15724 13.3675 11.3945 13.1175C12.2812 13.0184 12.9915 12.3187 13.0943 11.4402Z" fill="black"/>
            </svg>

  section.goods.margin-section
    .container
      h2.title.goods__title Популярные и новые товары
    .goods__wrap
      .secondary-btn.swiper-button-prev
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.267 5.23123C11.9564 4.92292 11.4527 4.92292 11.1421 5.23123L6.89965 9.44176C6.58901 9.75007 6.58901 10.2499 6.89965 10.5582L11.1421 14.7688C11.4527 15.0771 11.9564 15.0771 12.267 14.7688C12.5777 14.4605 12.5777 13.9606 12.267 13.6523L8.58706 10L12.267 6.34772C12.5777 6.03941 12.5777 5.53954 12.267 5.23123Z" fill="#487B6C"/>
        </svg>
      .container
        .swiper.goods__slider
          ul.swiper-wrapper.goods__wrapper
            li.swiper-slide.goods__slide.goods-slide
              a.goods-slide__link(href="#")
                .goods-slide-gallery__wrap
                  ul.goods-slide__gallery.goods-slide-gallery(style="background-image: url('images/about.jpg')")
                    li.goods-slide-gallery__item(data-image="images/about.jpg")
                    li.goods-slide-gallery__item(data-image="images/goods/good1-2.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good1-3.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good1-4.png")
                h3.goods-slide__title Кружка под сублимацию "Стандарт"
              button.secondary-btn.goods-slide__btn Выбрать вид
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 11.3334V4.66675" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M4.66668 8L11.3333 8" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            li.swiper-slide.goods__slide.goods-slide
              a.goods-slide__link(href="#")
                .goods-slide-gallery__wrap
                  ul.goods-slide__gallery.goods-slide-gallery(style="background-image: url('images/goods/good2-1.png')")
                    li.goods-slide-gallery__item(data-image="images/goods/good2-1.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good2-2.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good2-3.png")
                h3.goods-slide__title Эко-ручка
              button.secondary-btn.goods-slide__btn Выбрать вид
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 11.3334V4.66675" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M4.66668 8L11.3333 8" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            li.swiper-slide.goods__slide.goods-slide
              a.goods-slide__link(href="#")
                .goods-slide-gallery__wrap
                  ul.goods-slide__gallery.goods-slide-gallery(style="background-image: url('images/goods/good3-1.png')")
                    li.goods-slide-gallery__item(data-image="images/goods/good3-1.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good3-2.png")
                h3.goods-slide__title Чехол-крышка для телефона iPhone 8+
              button.secondary-btn.goods-slide__btn Выбрать вид
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 11.3334V4.66675" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M4.66668 8L11.3333 8" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            li.swiper-slide.goods__slide.goods-slide
              a.goods-slide__link(href="#")
                .goods-slide-gallery__wrap
                  ul.goods-slide__gallery.goods-slide-gallery(style="background-image: url('images/goods/good4-1.png')")
                    li.goods-slide-gallery__item(data-image="images/goods/good4-1.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good4-2.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good4-3.png")
                    li.goods-slide-gallery__item(data-image="images/goods/good4-4.png")
                h3.goods-slide__title Флеш-карта "Элегант"
              button.secondary-btn.goods-slide__btn Выбрать вид
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 11.3334V4.66675" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M4.66668 8L11.3333 8" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            li.swiper-slide.goods__slide.goods-slide
              a.goods-slide__link(href="#")
                .goods-slide-gallery__wrap
                  ul.goods-slide__gallery.goods-slide-gallery(style="background-image: url('images/goods/good1-1.png')")
                    li.goods-slide-gallery__item(data-image="images/goods/good1-1.png")
                h3.goods-slide__title Кружка под сублимацию "Стандарт"
              button.secondary-btn.goods-slide__btn Выбрать вид
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 11.3334V4.66675" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M4.66668 8L11.3333 8" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
        .goods__line
      .secondary-btn.swiper-button-next
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73298 5.23123C8.04363 4.92292 8.54728 4.92292 8.85793 5.23123L13.1004 9.44176C13.411 9.75007 13.411 10.2499 13.1004 10.5582L8.85793 14.7688C8.54728 15.0771 8.04363 15.0771 7.73298 14.7688C7.42234 14.4605 7.42234 13.9606 7.73298 13.6523L11.4129 10L7.73298 6.34772C7.42234 6.03941 7.42234 5.53954 7.73298 5.23123Z" fill="#487B6C"/>
        </svg>

  section.services
    .container
      .services__top
        h2.services__title Популярные услуги
        a.secondary-btn.services__link(href="#") 
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2247 7.10869C10.9806 6.86461 10.9806 6.46888 11.2247 6.22481C11.4688 5.98073 11.8645 5.98073 12.1086 6.22481L15.4419 9.55814C15.686 9.80222 15.686 10.1979 15.4419 10.442L12.1086 13.7754C11.8645 14.0194 11.4688 14.0194 11.2247 13.7754C10.9806 13.5313 10.9806 13.1356 11.2247 12.8915L13.4911 10.6251H5.41666C5.07148 10.6251 4.79166 10.3453 4.79166 10.0001C4.79166 9.6549 5.07148 9.37508 5.41666 9.37508H13.4911L11.2247 7.10869Z" fill="#487B6C"/>
          </svg>
      ul.services__list
        li.services__item.services-item
          .services-item__icon
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25 4.6875C25.8629 4.6875 26.5625 5.38706 26.5625 6.25V29.1667C26.5625 30.0296 25.8629 30.7292 25 30.7292C24.1371 30.7292 23.4375 30.0296 23.4375 29.1667V6.25C23.4375 5.38706 24.1371 4.6875 25 4.6875Z" fill="#10BB87"/>
              <path d="M26.5625 34.8958C26.5625 35.7587 25.8629 36.4583 25 36.4583C24.1371 36.4583 23.4375 35.7587 23.4375 34.8958C23.4375 34.0328 24.1371 33.3333 25 33.3333C25.8629 33.3333 26.5625 34.0328 26.5625 34.8958Z" fill="#10BB87"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3952 23.8951C12.0053 23.285 12.9947 23.285 13.6049 23.8951L19.8549 30.1451C20.4651 30.7553 20.4651 31.7447 19.8549 32.3549C19.2447 32.965 18.2553 32.965 17.6452 32.3549L11.3952 26.1049C10.785 25.4947 10.785 24.5053 11.3952 23.8951ZM38.6049 23.8951C39.2151 24.5053 39.2151 25.4947 38.6049 26.1049L32.3549 32.3549C31.7447 32.965 30.7553 32.965 30.1452 32.3549C29.535 31.7447 29.535 30.7553 30.1452 30.1451L36.3952 23.8951C37.0054 23.285 37.9947 23.285 38.6049 23.8951ZM8.85417 37.5C8.85417 36.6371 9.55373 35.9375 10.4167 35.9375H18.75C19.613 35.9375 20.3125 36.6371 20.3125 37.5C20.3125 38.3629 19.613 39.0625 18.75 39.0625H10.4167C9.55373 39.0625 8.85417 38.3629 8.85417 37.5ZM39.5833 39.0625H31.25C30.3871 39.0625 29.6875 38.3629 29.6875 37.5C29.6875 36.6371 30.3871 35.9375 31.25 35.9375H39.5833C40.4463 35.9375 41.1458 36.6371 41.1458 37.5C41.1458 38.3629 40.4463 39.0625 39.5833 39.0625Z" fill="#10BB87"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25 40.1042C25.8629 40.1042 26.5625 40.8038 26.5625 41.6667V43.7501C26.5625 44.613 25.8629 45.3126 25 45.3126C24.1371 45.3126 23.4375 44.613 23.4375 43.7501V41.6667C23.4375 40.8038 24.1371 40.1042 25 40.1042Z" fill="#10BB87"/>
            </svg>
          h3.services-item__title Гравировка
          p.services-item__text Нанесем на изделия логотип, рисунок или надпись
          a.secondary-btn.services-item__link(href="#") Подробнее
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.97979 5.68681C8.78453 5.49154 8.78453 5.17496 8.97979 4.9797C9.17505 4.78444 9.49164 4.78444 9.6869 4.9797L12.3536 7.64637C12.5488 7.84163 12.5488 8.15821 12.3536 8.35347L9.6869 11.0201C9.49164 11.2154 9.17505 11.2154 8.97979 11.0201C8.78453 10.8249 8.78453 10.5083 8.97979 10.313L10.7929 8.49992H4.33334C4.0572 8.49992 3.83334 8.27606 3.83334 7.99992C3.83334 7.72378 4.0572 7.49992 4.33334 7.49992H10.7929L8.97979 5.68681Z" fill="black"/>
            </svg>
        li.services__item.services-item
          .services-item__icon
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.3013 29.0545C39.6616 36.8149 33.1766 42.7874 25.3899 42.7874L24.6101 42.7874C16.8234 42.7874 10.3384 36.8149 9.69876 29.0545C9.35514 24.8858 10.6428 20.7464 13.2906 17.5082L21.9436 6.92579C23.5233 4.99391 26.4767 4.9939 28.0564 6.92579L36.7094 17.5082C39.3572 20.7464 40.6449 24.8858 40.3013 29.0545ZM25.3899 40.0794C31.7673 40.0794 37.0785 35.1879 37.6024 28.8321C37.8884 25.3625 36.8167 21.9174 34.613 19.2224L25.96 8.63996C25.4638 8.03316 24.5362 8.03316 24.04 8.63996L15.387 19.2224C13.1833 21.9174 12.1116 25.3625 12.3976 28.8321C12.9215 35.1879 18.2327 40.0794 24.6101 40.0794L25.3899 40.0794Z" fill="#10BB87"/>
              <path d="M17.7787 26.9908C17.0309 26.9908 16.4135 27.6009 16.5302 28.3396C17.1078 31.9954 19.9954 34.883 23.6512 35.4606C24.3898 35.5773 25 34.9599 25 34.2121C25 33.4643 24.3856 32.8742 23.6575 32.7038C21.4952 32.1976 19.7932 30.4956 19.287 28.3333C19.1166 27.6052 18.5265 26.9908 17.7787 26.9908Z" fill="#10BB87"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.5087 29.0718C39.8602 36.9402 33.2849 42.9958 25.3898 42.9958L24.61 42.9958C16.7148 42.9958 10.1396 36.9402 9.49099 29.0718C9.14293 24.8493 10.4472 20.6564 13.1292 17.3765L21.7822 6.79407C23.4452 4.76025 26.5545 4.76024 28.2175 6.79407L36.8705 17.3765C39.5525 20.6564 40.8568 24.8493 40.5087 29.0718ZM25.3898 42.5792C33.068 42.5792 39.4627 36.6899 40.0935 29.0376C40.4327 24.9226 39.1616 20.8366 36.548 17.6402L27.895 7.05783C26.3986 5.22788 23.6011 5.22789 22.1048 7.05783L13.4518 17.6402C10.8381 20.8366 9.56706 24.9226 9.90624 29.0376C10.537 36.6899 16.9317 42.5792 24.61 42.5792L25.3898 42.5792ZM25.3898 39.8712C31.6587 39.8712 36.8797 35.0629 37.3947 28.8151C37.6762 25.3994 36.6211 22.0077 34.4516 19.3544L25.7986 8.77199C25.3858 8.26714 24.614 8.26714 24.2012 8.77199L15.5481 19.3544C13.3786 22.0077 12.3235 25.3994 12.6051 28.8151C13.1201 35.0629 18.341 39.8712 24.61 39.8712L25.3898 39.8712ZM37.8099 28.8494C37.2771 35.3132 31.8755 40.2879 25.3898 40.2879L24.61 40.2879C18.1242 40.2879 12.7226 35.3132 12.1898 28.8494C11.8994 25.326 12.9877 21.8275 15.2256 19.0907L23.8786 8.50824C24.4581 7.7995 25.5416 7.7995 26.1211 8.50824L34.7742 19.0906C37.012 21.8275 38.1003 25.326 37.8099 28.8494ZM25.2082 34.2122C25.2082 35.0644 24.5059 35.8067 23.6186 35.6665C19.8736 35.0749 16.9159 32.1173 16.3243 28.3722C16.1841 27.4849 16.9264 26.7826 17.7786 26.7826C18.6501 26.7826 19.304 27.4927 19.4897 28.286C19.9778 30.3712 21.6196 32.013 23.7048 32.5011C24.4981 32.6868 25.2082 33.3407 25.2082 34.2122ZM23.6836 35.255C24.2735 35.3482 24.7915 34.8556 24.7915 34.2122C24.7915 33.5882 24.2727 33.062 23.6098 32.9068C21.3705 32.3826 19.6082 30.6204 19.084 28.381C18.9289 27.7181 18.4027 27.1993 17.7786 27.1993C17.1352 27.1993 16.6426 27.7173 16.7358 28.3072C17.2993 31.8738 20.117 34.6915 23.6836 35.255Z" fill="#10BB87"/>
            </svg>
          h3.services-item__title Шелкография
          p.services-item__text Изображения высоко качества на любых материалах
          a.secondary-btn.services-item__link(href="#") Подробнее
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.97979 5.68681C8.78453 5.49154 8.78453 5.17496 8.97979 4.9797C9.17505 4.78444 9.49164 4.78444 9.6869 4.9797L12.3536 7.64637C12.5488 7.84163 12.5488 8.15821 12.3536 8.35347L9.6869 11.0201C9.49164 11.2154 9.17505 11.2154 8.97979 11.0201C8.78453 10.8249 8.78453 10.5083 8.97979 10.313L10.7929 8.49992H4.33334C4.0572 8.49992 3.83334 8.27606 3.83334 7.99992C3.83334 7.72378 4.0572 7.49992 4.33334 7.49992H10.7929L8.97979 5.68681Z" fill="black"/>
            </svg>
        li.services__item.services-item
          .services-item__icon
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M31.7148 5.87512C32.7318 4.85813 34.3806 4.85812 35.3976 5.87512L44.125 14.6025C45.142 15.6194 45.142 17.2683 44.125 18.2853L39.594 22.8163C38.577 23.8333 36.9281 23.8333 35.9111 22.8163L32.6523 19.5575L11.3435 40.8663L9.13384 38.6565L30.4426 17.3478L27.1838 14.0889C26.1668 13.072 26.1668 11.4231 27.1838 10.4061L31.7148 5.87512ZM33.5562 8.45311L29.7618 12.2475L37.7526 20.2383L41.547 16.4439L33.5562 8.45311Z" fill="#10BB87"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0594 18.9326L21.2873 18.7047C22.3043 17.6878 22.3043 16.0389 21.2873 15.0219L14.1739 7.90852C13.1569 6.89153 11.5081 6.89153 10.4911 7.90852L7.73428 10.6653C6.71729 11.6823 6.71729 13.3312 7.73428 14.3482L14.8476 21.4615C15.8646 22.4785 17.5135 22.4785 18.5305 21.4615L18.8497 21.1423L35.0257 37.3182L33.5407 31.4137L21.0594 18.9326ZM18.7093 16.8633L12.3325 10.4865L10.3123 12.5067L16.6891 18.8835L18.7093 16.8633Z" fill="#10BB87"/>
            </svg>
          h3.services-item__title Тиснение
          p.services-item__text Нанесения рельефного рисунка
          a.secondary-btn.services-item__link(href="#") Подробнее
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.97979 5.68681C8.78453 5.49154 8.78453 5.17496 8.97979 4.9797C9.17505 4.78444 9.49164 4.78444 9.6869 4.9797L12.3536 7.64637C12.5488 7.84163 12.5488 8.15821 12.3536 8.35347L9.6869 11.0201C9.49164 11.2154 9.17505 11.2154 8.97979 11.0201C8.78453 10.8249 8.78453 10.5083 8.97979 10.313L10.7929 8.49992H4.33334C4.0572 8.49992 3.83334 8.27606 3.83334 7.99992C3.83334 7.72378 4.0572 7.49992 4.33334 7.49992H10.7929L8.97979 5.68681Z" fill="black"/>
            </svg>
        li.services__item.services-item
          .services-item__icon
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5706 43.2124C29.2101 43.9292 20.7899 43.9292 12.4294 43.2124C11.3577 43.1205 10.4427 42.4751 10.1056 41.5648C9.13148 38.9341 9.13148 36.0659 10.1056 33.4352C10.4427 32.5249 11.3577 31.8795 12.4294 31.7876C20.7899 31.0708 29.2101 31.0708 37.5706 31.7876C38.6424 31.8795 39.5573 32.5249 39.8944 33.4352C40.8685 36.0659 40.8685 38.9341 39.8944 41.5648C39.5573 42.4751 38.6424 43.1205 37.5706 43.2124ZM37.221 40.579C37.9274 38.5822 37.9274 36.4178 37.221 34.421C29.0928 33.7289 20.9072 33.7289 12.779 34.421C12.0727 36.4178 12.0727 38.5822 12.779 40.579C20.9072 41.2711 29.0928 41.2711 37.221 40.579Z" fill="#10BB87"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0668 2.64453C25.9298 2.64453 26.6293 3.34409 26.6293 4.20703V22.1068C26.6293 23.2159 25.9268 24.2033 24.879 24.567L8.10956 30.3873V35.9866H9.34705C10.21 35.9866 10.9095 36.6862 10.9095 37.5491C10.9095 38.4121 10.21 39.1116 9.34705 39.1116H7.58873C6.15048 39.1116 4.98456 37.9457 4.98456 36.5075V30.0168C4.98456 28.9077 5.68704 27.9202 6.73484 27.5566L23.5043 21.7362V4.20703C23.5043 3.34409 24.2039 2.64453 25.0668 2.64453Z" fill="#10BB87"/>
            </svg>
          h3.services-item__title Тампопечать
          p.services-item__text Перенос изображения с помощью силиконового валика
          a.secondary-btn.services-item__link(href="#") Подробнее
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.97979 5.68681C8.78453 5.49154 8.78453 5.17496 8.97979 4.9797C9.17505 4.78444 9.49164 4.78444 9.6869 4.9797L12.3536 7.64637C12.5488 7.84163 12.5488 8.15821 12.3536 8.35347L9.6869 11.0201C9.49164 11.2154 9.17505 11.2154 8.97979 11.0201C8.78453 10.8249 8.78453 10.5083 8.97979 10.313L10.7929 8.49992H4.33334C4.0572 8.49992 3.83334 8.27606 3.83334 7.99992C3.83334 7.72378 4.0572 7.49992 4.33334 7.49992H10.7929L8.97979 5.68681Z" fill="black"/>
            </svg>

  section.categories
    .container
      .services__top
        h2.services__title Основные категории
        a.secondary-btn.services__link(href="#") 
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2247 7.10869C10.9806 6.86461 10.9806 6.46888 11.2247 6.22481C11.4688 5.98073 11.8645 5.98073 12.1086 6.22481L15.4419 9.55814C15.686 9.80222 15.686 10.1979 15.4419 10.442L12.1086 13.7754C11.8645 14.0194 11.4688 14.0194 11.2247 13.7754C10.9806 13.5313 10.9806 13.1356 11.2247 12.8915L13.4911 10.6251H5.41666C5.07148 10.6251 4.79166 10.3453 4.79166 10.0001C4.79166 9.6549 5.07148 9.37508 5.41666 9.37508H13.4911L11.2247 7.10869Z" fill="#487B6C"/>
          </svg>
      ul.categories__list
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1068 7.04148C13.1976 6.22437 13.8883 5.6062 14.7104 5.6062H37.3553C38.1775 5.6062 38.8681 6.22437 38.9589 7.04148L39.3895 10.9167C39.4345 11.322 39.477 11.6752 39.5168 12.0068C39.6795 13.3607 39.7988 14.3538 39.8749 17.0665L36.6161 16.0547C36.5487 14.0308 36.4555 13.3537 36.3364 12.4888C36.2891 12.1452 36.2378 11.772 36.1823 11.273L35.9112 8.8331H16.1545L15.8834 11.273C15.1292 18.0608 15.1292 33.3874 15.8834 40.1751L15.9257 40.5566C16.0727 41.879 17.0976 42.9335 18.4153 43.118C23.469 43.8255 28.5966 43.8255 33.6503 43.118C34.9681 42.9335 35.993 41.879 36.1399 40.5566L36.1823 40.1751C36.2571 39.5014 36.3246 36.1898 36.3846 35.324L39.6314 35.1247C39.5614 36.2083 39.4808 39.7096 39.3894 40.5315L39.3471 40.913C39.0372 43.7013 36.8762 45.9247 34.0977 46.3137C28.7472 47.0628 23.3184 47.0628 17.9679 46.3137C15.1894 45.9247 13.0284 43.7013 12.7186 40.913L12.6762 40.5315C11.8957 33.5069 11.8957 17.9412 12.6762 10.9167L13.1068 7.04148Z" fill="#10BB87"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M38.4732 19.9728C36.6638 18.9885 34.4004 18.9055 32.862 19.1726C31.9841 19.3251 31.1488 18.7369 30.9963 17.859C30.8438 16.981 31.432 16.1457 32.3099 15.9933C34.3158 15.6449 37.3751 15.702 40.0152 17.1382C42.7967 18.6513 44.8671 21.5666 44.8958 26.3596C44.9099 28.7146 44.4242 30.6458 43.5347 32.1884C42.6419 33.7366 41.3945 34.8024 40.0342 35.4996C37.3722 36.8638 34.2827 36.8244 32.2677 36.4191C31.3942 36.2433 30.8285 35.3927 31.0042 34.5191C31.18 33.6455 32.0306 33.0798 32.9042 33.2555C34.4759 33.5718 36.7602 33.5515 38.5624 32.6278C39.4342 32.1811 40.1916 31.5262 40.7392 30.5765C41.2901 29.6211 41.6803 28.2771 41.669 26.379C41.6467 22.6658 40.1411 20.8802 38.4732 19.9728Z" fill="#10BB87"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.7637 25.4087C33.528 25.2805 33.1469 25.247 32.862 25.2964C31.9841 25.4489 31.1488 24.8608 30.9963 23.9828C30.8438 23.1049 31.432 22.2696 32.3099 22.1171C33.0624 21.9864 34.2392 21.9939 35.3058 22.5741C36.5137 23.2312 37.3194 24.484 37.3301 26.2688C37.3352 27.1196 37.1593 27.8925 36.7792 28.5517C36.3958 29.2165 35.8574 29.6738 35.2864 29.9664C34.2033 30.5215 33.0142 30.4889 32.2677 30.3387C31.3942 30.1629 30.8285 29.3123 31.0042 28.4387C31.18 27.5651 32.0306 26.9994 32.9042 27.1752C33.0272 27.1999 33.2039 27.2158 33.3894 27.2007C33.5756 27.1856 33.7189 27.1437 33.8147 27.0946C33.8971 27.0524 33.9455 27.0061 33.9837 26.9398C34.0252 26.8678 34.1056 26.6821 34.1033 26.2881C34.1009 25.8928 34.0187 25.693 33.9673 25.6033C33.9183 25.5178 33.8556 25.4587 33.7637 25.4087Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Кружки
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.7301 4.46606C20.839 4.46606 20.1166 5.18843 20.1166 6.07952V7.69297H12.5872C11.6961 7.69297 10.9737 8.41533 10.9737 9.30642C10.9737 10.1975 11.6961 10.9199 12.5872 10.9199H39.478C40.3691 10.9199 41.0915 10.1975 41.0915 9.30642C41.0915 8.41533 40.3691 7.69297 39.478 7.69297H31.9486V6.07952C31.9486 5.18843 31.2262 4.46606 30.3351 4.46606H21.7301Z" fill="#10BB87"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1065 16.6577C13.1973 15.8406 13.888 15.2224 14.7101 15.2224H37.3551C38.1772 15.2224 38.8678 15.8406 38.9586 16.6577L39.3892 20.5329C40.1697 27.5574 40.1697 34.6469 39.3892 41.6715L39.3468 42.053C39.037 44.8413 36.876 47.0647 34.0975 47.4537C28.747 48.2028 23.3182 48.2028 17.9677 47.4537C15.1892 47.0647 13.0282 44.8413 12.7184 42.053L12.676 41.6715C11.8955 34.6469 11.8955 27.5574 12.676 20.5329L13.1065 16.6577ZM16.1542 18.4493L15.8831 20.8892C15.1289 27.677 15.1289 34.5274 15.8831 41.3151L15.9255 41.6966C16.0725 43.019 17.0974 44.0735 18.4151 44.258C23.4688 44.9655 28.5964 44.9655 33.6501 44.258C34.9678 44.0735 35.9927 43.019 36.1397 41.6966L36.182 41.3151C36.9362 34.5274 36.9362 27.677 36.182 20.8892L35.9109 18.4493H16.1542Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Термосы
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40.5543 23.0139L40.5402 23.5364L40.5543 24.0896L40.541 24.6128L40.5543 25.1652L40.5416 25.692L40.5541 26.2408L40.2048 41.5213C40.1219 45.1468 37.3645 48.1492 33.7592 48.5396C28.6232 49.0958 23.4421 49.0958 18.3062 48.5396C14.7008 48.1492 11.9434 45.1468 11.8605 41.5213L11.5112 26.2408L11.5238 25.6884L11.5112 25.1652L11.5245 24.615L11.5111 24.0896L11.5251 23.5387L11.511 23.0139L11.8638 9.89564C11.8687 9.71261 11.8816 9.53148 11.9021 9.3526L11.9101 9.27696L11.9165 9.216C12.0899 7.44313 13.0723 5.89689 14.504 4.96898C14.6109 4.89794 14.7202 4.83029 14.8319 4.76619C14.9411 4.70154 15.0526 4.64022 15.1662 4.58238C15.8688 4.21158 16.653 3.97124 17.4877 3.89441C23.1723 3.37113 28.893 3.37113 34.5776 3.89441C35.411 3.97112 36.1939 4.21082 36.8956 4.58061C37.0093 4.63836 37.1208 4.6996 37.2301 4.76416C37.3453 4.83019 37.458 4.89998 37.568 4.97337C38.9921 5.89921 39.9703 7.43742 40.1474 9.20136L40.1642 9.36121C40.1841 9.53729 40.1966 9.71555 40.2014 9.89565L40.5543 23.0139ZM36.9487 9.72057L37.2864 24.4926L37.0127 40.6543C36.9512 42.9419 35.1891 44.8223 32.9103 45.032C28.3349 45.4532 23.7304 45.4532 19.1549 45.032C16.8761 44.8223 15.114 42.9419 15.0525 40.6543L14.7789 24.4939L15.1166 9.72056C15.1173 9.68878 15.1186 9.65714 15.1205 9.62564C15.2485 8.76023 15.75 8.01321 16.4611 7.55959C16.7305 7.41915 17.0294 7.32602 17.3474 7.29159C23.1207 6.66637 28.9446 6.66637 34.7179 7.29159C35.0358 7.32601 35.3346 7.41908 35.6039 7.55942C36.3153 8.01315 36.817 8.76053 36.9448 9.62636C36.9467 9.65762 36.948 9.68902 36.9487 9.72057ZM26.0327 42.0463C27.8149 42.0463 29.2596 40.6016 29.2596 38.8194C29.2596 37.0372 27.8149 35.5925 26.0327 35.5925C24.2505 35.5925 22.8058 37.0372 22.8058 38.8194C22.8058 40.6016 24.2505 42.0463 26.0327 42.0463Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Аксессуары
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.1702 7.625C36.7983 7.25311 36.2939 7.04419 35.768 7.04419C35.2421 7.04419 34.7377 7.25311 34.3658 7.625L10.061 31.9298C9.81185 32.1789 9.63359 32.49 9.54455 32.8309L6.90054 42.9533C6.72262 43.6344 6.91917 44.3588 7.41698 44.8566C7.91478 45.3544 8.63919 45.551 9.32033 45.3731L19.4427 42.7291C19.7836 42.64 20.0947 42.4618 20.3438 42.2126L44.6486 17.9078C45.423 17.1334 45.423 15.8778 44.6486 15.1034L37.1702 7.625ZM13.2459 34.3538L35.768 11.8316L40.442 16.5056L17.9199 39.0278L11.5933 40.6803L13.2459 34.3538Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Канцелярия
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.993 44.2127C16.61 43.7877 15.6508 42.5297 15.607 41.0835L15.436 14.1316H34.4786L34.3076 41.0835C34.2638 42.5297 33.3046 43.7877 31.9216 44.2127C27.3835 45.6075 22.5311 45.6075 17.993 44.2127ZM18.8324 40.9858L18.6891 36.2549C20.5867 37.1643 22.7125 37.6737 24.9573 37.6737C27.202 37.6737 29.3279 37.1643 31.2255 36.2549L31.0821 40.9858C31.0801 41.0516 31.0365 41.1089 30.9735 41.1282C27.0532 42.3332 22.8614 42.3332 18.941 41.1282C18.8781 41.1089 18.8344 41.0516 18.8324 40.9858ZM18.8324 33.4322L18.6891 17.5269L31.2255 17.5268L31.0821 33.4322C31.0801 33.498 31.0365 33.5553 30.9735 33.5746C27.0532 34.7796 22.8614 34.7796 18.941 33.5746C18.8781 33.5553 18.8344 33.498 18.8324 33.4322Z" fill="#10BB87"/>
                <path d="M19.0415 8.83635C19.0415 7.94527 19.7639 7.2229 20.655 7.2229H29.26C30.1511 7.2229 30.8735 7.94529 30.8735 8.83637V12.0633H19.0415V8.83635Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Флеш-карты
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.1182 39.5975L37.4997 39.5551C39.7061 39.3099 41.5587 37.9057 42.4287 35.9537C42.6582 35.4387 42.8193 34.8857 42.9005 34.3058C43.6495 28.9552 43.6495 23.5264 42.9005 18.1759C42.8193 17.596 42.6582 17.0429 42.4287 16.528C41.5592 14.5772 39.7084 13.1735 37.5039 12.9271L37.4997 12.9266L37.1182 12.8842C30.0936 12.1037 23.0042 12.1037 15.9796 12.8842L15.5981 12.9266C12.8097 13.2364 10.5864 15.3975 10.1974 18.1759C9.4483 23.5264 9.4483 28.9552 10.1974 34.3058C10.5864 37.0842 12.8097 39.2452 15.5981 39.5551L15.9796 39.5975L16.336 36.3903L15.9545 36.3479C14.6321 36.201 13.5776 35.1761 13.3931 33.8584C12.6856 28.8046 12.6856 23.677 13.3931 18.6233C13.5776 17.3056 14.6321 16.2807 15.9545 16.1338L16.336 16.0914C23.1237 15.3372 29.9741 15.3372 36.7619 16.0914L37.1434 16.1338C37.9936 16.2282 38.7331 16.6856 39.2018 17.3504C39.4621 17.7196 39.6389 18.1528 39.7047 18.6233C40.4123 23.677 40.4123 28.8046 39.7047 33.8584C39.6389 34.3289 39.4621 34.762 39.2018 35.1312C38.7331 35.796 37.9936 36.2534 37.1434 36.3479L36.7619 36.3903L37.1182 39.5975Z" fill="#10BB87"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5489 46.408C30.8067 46.408 34.2584 42.9563 34.2584 38.6984C34.2584 34.4406 30.8067 30.9889 26.5489 30.9889C22.291 30.9889 18.8393 34.4406 18.8393 38.6984C18.8393 42.9563 22.291 46.408 26.5489 46.408ZM26.5489 49.6349C32.5889 49.6349 37.4853 44.7385 37.4853 38.6984C37.4853 32.6584 32.5889 27.762 26.5489 27.762C20.5088 27.762 15.6124 32.6584 15.6124 38.6984C15.6124 44.7385 20.5088 49.6349 26.5489 49.6349Z" fill="#10BB87"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.549 40.5598C27.577 40.5598 28.4104 39.7264 28.4104 38.6984C28.4104 37.6703 27.577 36.8369 26.549 36.8369C25.5209 36.8369 24.6875 37.6703 24.6875 38.6984C24.6875 39.7264 25.5209 40.5598 26.549 40.5598Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title HDD
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.1183 39.5975L37.4998 39.5551C39.7061 39.3099 41.5588 37.9057 42.4287 35.9537C42.6582 35.4387 42.8193 34.8857 42.9005 34.3058C43.6496 28.9552 43.6496 23.5264 42.9005 18.1759C42.8193 17.596 42.6582 17.0429 42.4287 16.528C41.5593 14.5772 39.7085 13.1735 37.5039 12.9271L37.4998 12.9266L37.1183 12.8842C30.0937 12.1037 23.0043 12.1037 15.9797 12.8842L15.5982 12.9266C12.8098 13.2364 10.5864 15.3975 10.1974 18.1759C9.44837 23.5264 9.44837 28.9552 10.1974 34.3058C10.5864 37.0842 12.8098 39.2452 15.5982 39.5551L15.9797 39.5975L19.0038 39.8517L19.0038 45.5999C19.0038 46.491 19.7262 47.2134 20.6172 47.2134C21.5083 47.2134 22.2307 46.491 22.2307 45.5999L22.2307 40.1709C23.3026 40.2462 24.3793 40.2964 25.4576 40.3214L25.4576 43.4486C25.4576 44.3397 26.18 45.0621 27.071 45.0621C27.9621 45.0621 28.6845 44.3397 28.6845 43.4486L28.6845 40.3214C29.7628 40.2964 30.8395 40.2462 31.9114 40.1709L31.9114 45.5999C31.9114 46.491 32.6338 47.2134 33.5248 47.2134C34.4159 47.2134 35.1383 46.491 35.1383 45.5999L35.1383 39.8517L37.1183 39.5975ZM36.7619 16.0914C29.9742 15.3372 23.1238 15.3372 16.336 16.0914L15.9545 16.1338C14.6321 16.2807 13.5777 17.3056 13.3932 18.6233C12.6857 23.677 12.6857 28.8046 13.3932 33.8584C13.5777 35.1761 14.6321 36.201 15.9545 36.3479L16.336 36.3903C21.1092 36.9238 31.9888 36.9238 36.7619 36.3903L37.1434 36.3479C37.9937 36.2534 38.7331 35.796 39.2018 35.1312C39.4621 34.762 39.6389 34.3289 39.7048 33.8584C40.4123 28.8046 40.4123 23.677 39.7048 18.6233C39.6389 18.1528 39.4621 17.7196 39.2018 17.3504C38.7331 16.6856 37.9937 16.2282 37.1434 16.1338L36.7619 16.0914Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title SSD
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8141 16.0223V15.7644C15.8141 11.101 18.9714 7.02923 23.4878 5.86785C25.1572 5.43858 26.9081 5.43858 28.5775 5.86785C33.094 7.02923 36.2512 11.101 36.2512 15.7644V16.0223H39.4805C40.7095 16.0223 41.7525 16.9236 41.9307 18.1396L42.4011 21.3503C43.3273 27.6717 43.3273 34.0944 42.4011 40.4158C41.9538 43.4685 39.4921 45.8285 36.4233 46.1468L35.0704 46.2871C29.0613 46.9103 23.004 46.9103 16.9949 46.2871L15.642 46.1468C12.5732 45.8285 10.1115 43.4685 9.6642 40.4158C8.73799 34.0944 8.73799 27.6717 9.6642 21.3503L10.1346 18.1396C10.3128 16.9236 11.3558 16.0223 12.5848 16.0223H15.8141ZM24.2915 8.99309C25.4337 8.69937 26.6316 8.69937 27.7739 8.99309C30.8641 9.78771 33.0243 12.5737 33.0243 15.7644V16.0223H19.041V15.7644C19.041 12.5737 21.2012 9.78771 24.2915 8.99309ZM15.8141 19.2492V24.0896C15.8141 24.9806 16.5365 25.703 17.4276 25.703C18.3187 25.703 19.041 24.9806 19.041 24.0896V19.2492H33.0243V24.0896C33.0243 24.9806 33.7466 25.703 34.6377 25.703C35.5288 25.703 36.2512 24.9806 36.2512 24.0896V19.2492H38.8319L39.2083 21.8181C40.0891 27.8293 40.0891 33.9368 39.2083 39.948C38.975 41.5402 37.6911 42.7711 36.0904 42.9371L34.7375 43.0774C28.9498 43.6776 23.1155 43.6776 17.3278 43.0774L15.9749 42.9371C14.3743 42.7711 13.0903 41.5402 12.857 39.948C11.9763 33.9368 11.9763 27.8293 12.857 21.8181L13.2334 19.2492H15.8141Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Текстиль
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6628 12.2575C13.6628 8.39612 16.7931 5.26587 20.6545 5.26587C22.817 5.26587 24.7502 6.24764 26.0326 7.78977C27.3151 6.24764 29.2483 5.26587 31.4108 5.26587C35.2722 5.26587 38.4024 8.39612 38.4024 12.2575C38.4024 13.6436 37.9991 14.9355 37.3033 16.0222H38.9402C42.2076 16.0222 44.8562 18.6709 44.8562 21.9382V26.2407C44.8562 27.9707 43.6894 29.4281 42.0998 29.8689C42.4097 33.7984 42.2302 37.7536 41.5637 41.6432C41.1657 43.9659 39.2793 45.7451 36.9374 46.0069L34.9701 46.2268C29.0303 46.8906 23.035 46.8906 17.0952 46.2268L15.1279 46.0069C12.786 45.7451 10.8996 43.9658 10.5016 41.6432C9.83507 37.7536 9.65556 33.7984 9.96548 29.8689C8.37589 29.4281 7.20905 27.9707 7.20905 26.2407V21.9382C7.20905 18.6709 9.85772 16.0222 13.125 16.0222H14.762C14.0662 14.9355 13.6628 13.6436 13.6628 12.2575ZM24.4192 12.2575C24.4192 10.1783 22.7337 8.49277 20.6545 8.49277C18.5753 8.49277 16.8898 10.1783 16.8898 12.2575C16.8898 14.3367 18.5753 16.0222 20.6545 16.0222C22.7337 16.0222 24.4192 14.3367 24.4192 12.2575ZM31.4108 16.0222C33.49 16.0222 35.1755 14.3367 35.1755 12.2575C35.1755 10.1783 33.49 8.49277 31.4108 8.49277C29.3316 8.49277 27.6461 10.1783 27.6461 12.2575C27.6461 14.3367 29.3316 16.0222 31.4108 16.0222ZM10.4359 21.9382C10.4359 20.4531 11.6399 19.2491 13.125 19.2491H24.4192V26.7785H10.9738C10.6767 26.7785 10.4359 26.5378 10.4359 26.2407V21.9382ZM27.6461 30.0055H38.8735C39.1753 33.7069 39.0111 37.4338 38.3832 41.0982C38.2279 42.004 37.4923 42.6979 36.579 42.7999L34.6117 43.0198C32.2962 43.2786 29.972 43.4323 27.6461 43.4809V30.0055ZM27.6461 26.7785H41.0915C41.3885 26.7785 41.6293 26.5378 41.6293 26.2407V21.9382C41.6293 20.4531 40.4254 19.2491 38.9402 19.2491H27.6461V26.7785ZM24.4192 30.0055V43.4809C22.0933 43.4323 19.769 43.2786 17.4536 43.0198L15.4863 42.7999C14.573 42.6979 13.8374 42.004 13.6821 41.0982C13.0542 37.4338 12.89 33.7069 13.1918 30.0055H24.4192Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Упаковка
        li.categories__item.categories-item
          a.categories-item__link(href="#")
            .categories-item__icon
              <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.0847 38.0726C22.0352 38.0726 22.8057 37.3021 22.8057 36.3516V25.8104C22.8057 24.8599 22.0352 24.0894 21.0847 24.0894H20.2242C19.2737 24.0894 18.5032 24.8599 18.5032 25.8104V36.3516C18.5032 37.3021 19.2737 38.0726 20.2242 38.0726H21.0847Z" fill="#10BB87"/>
                <path d="M27.1022 14.4087H9.46784C8.51735 14.4087 7.74683 15.1792 7.74683 16.1297V36.3516C7.74683 37.3021 8.51735 38.0726 9.46784 38.0726H9.94824C10.8987 38.0726 11.6693 37.3021 11.6693 36.3516V20.3233C11.6693 19.5288 12.3061 18.8333 13.1509 18.8333H24.4778C26.401 18.8333 27.7475 19.6219 28.5804 20.743C29.3762 21.8142 29.6429 23.1027 29.6429 24.0894V36.3516C29.6429 37.3021 30.4134 38.0726 31.3639 38.0726H31.841C32.7915 38.0726 33.562 37.3021 33.562 36.3516V21.0098C33.562 19.6384 33.4014 17.8933 31.89 16.3483C31.0412 15.483 30.2706 15.0154 29.5335 14.7531C28.787 14.4874 28.01 14.4087 27.1022 14.4087Z" fill="#10BB87"/>
                <path d="M42.5974 38.0726C43.5479 38.0726 44.3184 37.3021 44.3184 36.3516V16.1297C44.3184 15.1792 43.5479 14.4087 42.5974 14.4087H41.7369C40.7864 14.4087 40.0158 15.1792 40.0158 16.1297V36.3516C40.0158 37.3021 40.7864 38.0726 41.7369 38.0726H42.5974Z" fill="#10BB87"/>
              </svg>
            h3.categories-item__title Xiaomi
        
  section.reviews.margin-section
    h2.visually-hidden Отзывы
    .container.container--big.reviews__top
      .reviews-slider__wrap
        .swiper.reviews__slider.reviews-slider
          ul.swiper-wrapper.reviews__wrapper
            li.swiper-slide.reviews__slide.reviews-slide
              .reviews-slide__col
                img.reviews-slide__photo(src="images/reviews/review1-photo.png", alt="Анна Вагнер")
                span.reviews-slide__name Анна Вагнер
                span.reviews-slide__position «Леруа Мерлен Восток»
              .reviews-slide__col
                p.reviews-slide__title Компания с которой хочется работать снова и снова.
                p.reviews-slide__text Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              .reviews-slide__col
                img.reviews-slide__logo(src="images/reviews/review1-logo.png", alt="Леруа Мерлен")
            li.swiper-slide.reviews__slide.reviews-slide
              .reviews-slide__col
                img.reviews-slide__photo(src="images/reviews/review2-photo.png", alt="Анна Вагнер")
                span.reviews-slide__name Виктор Бартушев
                span.reviews-slide__position «Лукоил Рус»
              .reviews-slide__col
                p.reviews-slide__title Очень приятно, когда партнеры понимают все без слов.
                p.reviews-slide__text Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции требует от нас анализа направлений по формированию анализа прогрессивного развития. Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции требует от нас анализа направлений по формированию анализа прогрессивного развития.
              .reviews-slide__col
                img.reviews-slide__logo(src="images/reviews/review2-logo.png", alt="Лукоил Рус")
          .swiper-button-prev 
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4005 7.84685C18.8665 8.30931 18.8665 9.05911 18.4005 9.52157L12.8806 15L18.4005 20.4784C18.8665 20.9409 18.8665 21.6907 18.4005 22.1532C17.9346 22.6156 17.1791 22.6156 16.7131 22.1532L10.3495 15.8374C9.88351 15.3749 9.88351 14.6251 10.3495 14.1626L16.7131 7.84685C17.1791 7.38438 17.9346 7.38438 18.4005 7.84685Z" fill="#487B6C"/>
            </svg>
          .swiper-button-next
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5995 7.84685C12.0654 7.38438 12.8209 7.38438 13.2869 7.84685L19.6505 14.1626C20.1165 14.6251 20.1165 15.3749 19.6505 15.8374L13.2869 22.1532C12.8209 22.6156 12.0654 22.6156 11.5995 22.1532C11.1335 21.6907 11.1335 20.9409 11.5995 20.4784L17.1194 15L11.5995 9.52157C11.1335 9.05911 11.1335 8.30931 11.5995 7.84685Z" fill="#487B6C"/>
            </svg>
      .reviews__col
        a.secondary-btn.reviews__more(href="#") Больше отзывов
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.33329 6.33336C4.87306 6.33336 4.49996 6.70645 4.49996 7.16669C4.49996 7.62693 4.87306 8.00003 5.33329 8.00003C5.79353 8.00003 6.16663 7.62693 6.16663 7.16669C6.16663 6.70645 5.79353 6.33336 5.33329 6.33336Z" fill="black"/>
            <path d="M7.99996 6.33336C7.53972 6.33336 7.16663 6.70645 7.16663 7.16669C7.16663 7.62693 7.53972 8.00003 7.99996 8.00003C8.4602 8.00003 8.83329 7.62693 8.83329 7.16669C8.83329 6.70645 8.4602 6.33336 7.99996 6.33336Z" fill="black"/>
            <path d="M9.83329 7.16669C9.83329 6.70645 10.2064 6.33336 10.6666 6.33336C11.1269 6.33336 11.5 6.70645 11.5 7.16669C11.5 7.62693 11.1269 8.00003 10.6666 8.00003C10.2064 8.00003 9.83329 7.62693 9.83329 7.16669Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7338 3.06189C8.93765 2.90871 7.13214 2.89982 5.33459 3.0353L5.20577 3.04501C3.49156 3.17421 2.16663 4.60277 2.16663 6.32183V12C2.16663 12.1759 2.25907 12.3389 2.41006 12.4292C2.56105 12.5194 2.74836 12.5237 2.90332 12.4405L5.51051 11.0393C5.63179 10.9741 5.76732 10.94 5.905 10.94H11.8893C12.644 10.94 13.2908 10.4004 13.4261 9.65793C13.7003 8.15311 13.7219 6.61313 13.4902 5.10119L13.4219 4.65564C13.2975 3.84447 12.6339 3.22393 11.8163 3.1542L10.7338 3.06189ZM5.40974 4.03248C7.15398 3.90101 8.90595 3.90964 10.6488 4.05827L11.7313 4.15058C12.0889 4.18108 12.379 4.45244 12.4334 4.80715L12.5017 5.2527C12.7166 6.65489 12.6966 8.08309 12.4423 9.47868C12.3936 9.74586 12.1609 9.94003 11.8893 9.94003H5.905C5.60211 9.94003 5.30393 10.0151 5.03713 10.1585L3.16663 11.1637V6.32183C3.16663 5.1259 4.08837 4.13207 5.28092 4.04219L5.40974 4.03248Z" fill="black"/>
          </svg>
    .container.reviews__bot.reviews-bot
      .reviews-bot__wide
        .reviews-bot__headline
          <svg width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="4" cy="4" r="4" fill="#FF2F54"/>
            <circle cx="17" cy="4.00006" r="4" fill="#FFA630"/>
            <circle cx="30" cy="4.00006" r="4" fill="#10BB87"/>
          </svg>
        ul.reviews-bot__list
          li.reviews-bot__item.reviews-bot-item
            p.reviews-bot-item__title 639 568 штук
            p.reviews-bot-item__text произвели изделий <br>за 2019 год
          li.reviews-bot__item.reviews-bot-item
            p.reviews-bot-item__title 13 лет
            p.reviews-bot-item__text опыта с 2008 года
          li.reviews-bot__item.reviews-bot-item
          li.reviews-bot__item.reviews-bot-item
            p.reviews-bot-item__title 65 компаний
            p.reviews-bot-item__text сотрудничают с нами на постоянной основе
    .reviews-bot__col.reviews-bot-col
      .reviews-bot-col__box
        .reviews-bot__headline
          <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="4" cy="4" r="4" fill="#FF2F54"/>
            <circle cx="17" cy="4" r="4" fill="#FFA630"/>
          </svg>
        .reviews-bot-col__info
          p.reviews-bot-item__title Для рекламных агентств
          p.reviews-bot-item__text Дополнительная выгода, если занимаетесь рекламой
      a.primary-btn.reviews-bot-col__link(href="#") Подробнее

  section.news.margin-section
    .container
      h2.title.news__title Оставайтесь в курсе событий
      ul.news__list
        li.news__item.news-item
          a.news-item__link(href="#")
            h3.news-item__title Маски теперь в продаже
            p.news-item__text Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
            .news-item__row
              span.news-item__date 02.10.2021
              .news-item__btn
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.8371 10.6629C16.471 10.2968 16.471 9.7032 16.8371 9.33709C17.2032 8.97097 17.7968 8.97097 18.1629 9.33709L23.1629 14.3371C23.529 14.7032 23.529 15.2968 23.1629 15.6629L18.1629 20.6629C17.7968 21.029 17.2032 21.029 16.8371 20.6629C16.471 20.2968 16.471 19.7032 16.8371 19.3371L20.2367 15.9375H8.125C7.60723 15.9375 7.1875 15.5178 7.1875 15C7.1875 14.4822 7.60723 14.0625 8.125 14.0625H20.2367L16.8371 10.6629Z" fill="black"/>
                </svg>
        li.news__item.news-item
          a.news-item__link(href="#")
            h3.news-item__title Обновление сайта и новое позиционирование
            p.news-item__text Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции требует от нас анализа направлений по формированию анализа прогрессивного развития.
            .news-item__row
              span.news-item__date 15.09.2021
              .news-item__btn
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.8371 10.6629C16.471 10.2968 16.471 9.7032 16.8371 9.33709C17.2032 8.97097 17.7968 8.97097 18.1629 9.33709L23.1629 14.3371C23.529 14.7032 23.529 15.2968 23.1629 15.6629L18.1629 20.6629C17.7968 21.029 17.2032 21.029 16.8371 20.6629C16.471 20.2968 16.471 19.7032 16.8371 19.3371L20.2367 15.9375H8.125C7.60723 15.9375 7.1875 15.5178 7.1875 15C7.1875 14.4822 7.60723 14.0625 8.125 14.0625H20.2367L16.8371 10.6629Z" fill="black"/>
                </svg>
      a.secondary-btn.news__link(href="#") Все новости
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 6.50013C9 6.22399 8.77614 6.00013 8.5 6.00013H4.5C4.22386 6.00013 4 6.22399 4 6.50013C4 6.77627 4.22386 7.00013 4.5 7.00013H8.5C8.77614 7.00013 9 6.77627 9 6.50013Z" fill="black"/>
          <path d="M8.33333 8.50013C8.33333 8.22399 8.10948 8.00013 7.83333 8.00013H4.5C4.22386 8.00013 4 8.22399 4 8.50013C4 8.77627 4.22386 9.00013 4.5 9.00013H7.83333C8.10948 9.00013 8.33333 8.77627 8.33333 8.50013Z" fill="black"/>
          <path d="M8.5 10.0001C8.77614 10.0001 9 10.224 9 10.5001C9 10.7763 8.77614 11.0001 8.5 11.0001H4.5C4.22386 11.0001 4 10.7763 4 10.5001C4 10.224 4.22386 10.0001 4.5 10.0001H8.5Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 14.5001H12.6667C13.6792 14.5001 14.5 13.6793 14.5 12.6668V9.00014C14.5 8.724 14.2761 8.50014 14 8.50014H11.8333V3.2956C11.8333 2.34666 10.7607 1.79468 9.98856 2.34624L9.87186 2.4296C9.35153 2.80126 8.64672 2.80001 8.12395 2.4266C7.25471 1.80572 6.07862 1.80572 5.20938 2.4266C4.68661 2.80001 3.9818 2.80126 3.46148 2.4296L3.34478 2.34624C2.5726 1.79468 1.5 2.34666 1.5 3.2956V12.0001C1.5 13.3808 2.61929 14.5001 4 14.5001ZM5.79062 3.24034C6.31217 2.8678 7.02117 2.8678 7.54271 3.24034C8.41074 3.86035 9.58263 3.86509 10.4531 3.24333L10.5698 3.15997C10.6801 3.08118 10.8333 3.16003 10.8333 3.2956V12.6668C10.8333 12.9669 10.9054 13.2501 11.0332 13.5001H4C3.17157 13.5001 2.5 12.8286 2.5 12.0001V3.2956C2.5 3.16003 2.65323 3.08118 2.76354 3.15997L2.88024 3.24333C3.7507 3.86509 4.9226 3.86035 5.79062 3.24034ZM11.8333 12.6668V9.50014H13.5V12.6668C13.5 13.127 13.1269 13.5001 12.6667 13.5001C12.2064 13.5001 11.8333 13.127 11.8333 12.6668Z" fill="black"/>
        </svg>

  section.faq.margin-section
    .container
      h2.title.faq__title Часто задаваемые вопросы
      .faq__list
        .faq__col
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Вы доставляете по всей России?
            .faq-item__content.accordion-content
              p Ясность нашей позиции очевидна: реализация намеченных плановых заданий не даёт нам иного выбора, кроме определения инновационных методов управления процессами. Противоположная точка зрения подразумевает, что диаграммы связей лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Но повышение уровня гражданского сознания создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей!
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn А на бумаге печатаете?
            .faq-item__content.accordion-content
              p Ясность нашей позиции очевидна: реализация намеченных плановых заданий не даёт нам иного выбора, кроме определения инновационных методов управления процессами. Противоположная точка зрения подразумевает, что диаграммы связей лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Но повышение уровня гражданского сознания создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей!
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Можно сделать принт на своей вещи?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Как быстро сможете произвести заказ?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
        .faq__col
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Можно заказать одну какую-то позицию?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Из-за заграницы можно заказать?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn Можно организовать самовывоз?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
          li.faq__item.faq-item.accordion
            button.faq-item__title.accordion-btn А если я не юр лицо, будем сотрудничать?
            .faq-item__content.accordion-content
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
              p Принимая во внимание показатели успешности, синтетическое тестирование способствует повышению качества анализа существующих паттернов поведения. Противоположная точка зрения подразумевает.
      a.secondary-btn.faq__link(href="#") Больше вопросов
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.34951 5.90473C2.58573 3.03899 4.9805 0.833496 7.85596 0.833496H8.14392C11.0194 0.833496 13.4141 3.03899 13.6504 5.90473C13.7773 7.44416 13.3017 8.97276 12.324 10.1685L9.12859 14.0764C8.54525 14.7898 7.45462 14.7898 6.87128 14.0764L3.67591 10.1685C2.69814 8.97276 2.22262 7.44416 2.34951 5.90473ZM7.85596 1.8335C5.50093 1.8335 3.5396 3.63981 3.34613 5.98688C3.24052 7.26811 3.63628 8.54032 4.45006 9.53554L7.64543 13.4434C7.82865 13.6675 8.17122 13.6675 8.35444 13.4434L11.5498 9.53554C12.3636 8.54032 12.7593 7.26811 12.6537 5.98688C12.4603 3.63981 10.4989 1.8335 8.14392 1.8335H7.85596Z" fill="black"/>
          <path d="M8.6666 10.6668C8.6666 11.035 8.36812 11.3335 7.99993 11.3335C7.63174 11.3335 7.33327 11.035 7.33327 10.6668C7.33327 10.2986 7.63174 10.0002 7.99993 10.0002C8.36812 10.0002 8.6666 10.2986 8.6666 10.6668Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99993 5.16683C7.36879 5.16683 6.83327 5.69711 6.83327 6.38111C6.83327 6.65726 6.60941 6.88111 6.33327 6.88111C6.05713 6.88111 5.83327 6.65726 5.83327 6.38111C5.83327 5.17157 6.79013 4.16683 7.99993 4.16683C9.20974 4.16683 10.1666 5.17157 10.1666 6.38111C10.1666 7.3351 9.57445 8.15673 8.73196 8.46571C8.64898 8.49614 8.58149 8.5427 8.54075 8.58805C8.50264 8.63049 8.49993 8.6564 8.49993 8.66683C8.49993 8.94297 8.27608 9.16683 7.99993 9.16683C7.72379 9.16683 7.49994 8.94297 7.49994 8.66683C7.49994 8.05109 7.99557 7.67065 8.38764 7.52686C8.8353 7.36268 9.1666 6.91664 9.1666 6.38111C9.1666 5.69711 8.63108 5.16683 7.99993 5.16683Z" fill="black"/>
        </svg>

  section.help
    .container
      .help__content
        .help__col
          h2.title.help__title Нужна помощь?
          p.help__text Оставьте свои данные — мы перезвоним и решим вопрос. Помните, оставляя контакты вы даете согласие на<a>обработку персональных данных.</a>
        form.form.help__col(action="#") 
          .form__block
            label(for="name") Имя
            input(id="name" type="text" placeholder="Иван" data-required)
          .form__row
            .form__block
              label(for="phone") Телефон
              input(id="phone" type="tel" placeholder="+7 000 000 00 00" data-type="tel" data-required)
            button.secondary-btn.form__btn(type="submit" data-validate)
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.2247 7.10869C10.9807 6.86461 10.9807 6.46888 11.2247 6.22481C11.4688 5.98073 11.8646 5.98073 12.1086 6.22481L15.442 9.55814C15.686 9.80222 15.686 10.1979 15.442 10.442L12.1086 13.7754C11.8646 14.0194 11.4688 14.0194 11.2247 13.7754C10.9807 13.5313 10.9807 13.1356 11.2247 12.8915L13.4911 10.6251H5.41669C5.07151 10.6251 4.79169 10.3453 4.79169 10.0001C4.79169 9.6549 5.07151 9.37508 5.41669 9.37508H13.4911L11.2247 7.10869Z" fill="black"/>
              </svg>


        