extends ../template

block variables
  - var title = 'Главная'
  - var breadcrumbs = 0

block content
  section.banner 
    .container.banner__container
      .banner__col
        h1.banner__title Сейчас ваши данные открыты
        p.banner__text Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности собой интересный эксперимент проверки систем
        .banner__btns
          button.secondary-btn.banner__btn Зарегистрироваться
          button.primary-btn.banner__btn Скачать приложение
      .banner__card.banner-card
        .banner-card__title Your Current Visit
        .banner-card__content
          .banner-card__col 
            .banner-card__row
              span.banner-card__subtitle Headless Browser
              span.banner-card__value No
            .banner-card__row
              span.banner-card__subtitle IP
              span.banner-card__value 188.242.79.173
            .banner-card__row
              span.banner-card__subtitle Incognito
              span.banner-card__value No
              .banner-card__hint.banner-card-hint
                button.banner-card-hint__icon 
                p.banner-card-hint__content Разнообразный и богатый опыт рамки место обучения кадров способствует подготовки интересный эксперимент проверки
            .banner-card__row
              span.banner-card__subtitle Browser
              span.banner-card__value Chrome on Mac OS X (10.15.7)
          .banner-card__col
            .banner-card__row
              span.banner-card__subtitle Location
              .banner-card__hint.banner-card-hint
                button.banner-card-hint__icon 
                p.banner-card-hint__content Активности собой интересный эксперимент
            .banner-card__map 
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A94c2e425b9f6fbfeb768d4c23d72267d20ddd9e297ae0b866cf1f03d4c2290d5&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>

  section.about
    ul.container.about__row
      li.about__item.about-item
        .about-item__icon(style="background-image: url('images/icon-about-1.png')")
        .about-item__info
          h3.about-item__title Без нашего приложения
          p.about-item__text Приходится использовать несколько физических устройств, которым нужен постоянный уход
      li.about__item.about-item
        .about-item__icon(style="background-image: url('images/icon-about-2.png')")
        .about-item__info
          h3.about-item__title С нашим приложением
          p.about-item__text Вы получаете неограниченное колличество симуляций физических устройств
          
    .about__main.margin-section
      .container.about__content
        .about__col
          picture
            source(type="image/webp" srcset="images/documentation-text.jpg")
            img.about__img1(src="images/documentation-text.jpg" alt="О приложении")
          video.about__img2(src="images/video.mp4" alt="О приложении" autoplay="" loop="" height="255")
          //- picture
          //-   source(type="image/webp" srcset="images/about-screen2.png")
          //-   img.about__img2(src="images/about-screen2.png" alt="О приложении")
        .about__col
          h2.title.about__title О приложении
          p.about__text С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения правил существенных финансовых. Административных условий реализация намеченных плановых заданий представляет собой интересный эксперимент
          button.about__btn
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9999 20.1663C16.0625 20.1663 20.1666 16.0623 20.1666 10.9997C20.1666 5.93706 16.0625 1.83301 10.9999 1.83301C5.93731 1.83301 1.83325 5.93706 1.83325 10.9997C1.83325 16.0623 5.93731 20.1663 10.9999 20.1663Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.16675 7.33301L14.6667 10.9997L9.16675 14.6663V7.33301Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            | Смотреть видео-обзор
  
  section.features.margin-section
    .container
      h2.title.features__title Возможности приложения
      ul.features__list
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-1.png')")
          h3.features-item__title Равным образом повседневной работы
          p.features-item__text Равным образом структура организации требуют определения
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-2.png')")
          h3.features-item__title Важные задания по разработке
          p.features-item__text Также дальнейшее развитие различных форм подготовки деятельности способствует
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-3.png')")
          h3.features-item__title С другой стороны укрепление и развитие
          p.features-item__text Реализация намеченных плановых заданий представляет плановых
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-4.png')")
          h3.features-item__title Таким образом реализация плановых
          p.features-item__text Задача организации особенности же постоянное

  section.tariffs
    .container
      h2.title Цены и тарифы
      .tariffs__wrap.margin-section
        .swiper-button-prev
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 12H5" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 19L5 12L12 5" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .swiper-button-next
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 5L19 12L12 19" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .swiper-container.tariffs__slider
          ul.swiper-wrapper.tariffs__wrapper
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title Кастомный тариф
              .tariffs-slide__content
                .tariffs-slide__constructor.tariffs-slide-constructor
                  .tariffs-slide-constructor__icon(style="background-image: url('images/icon-tariffs-constructor.png')")
                  p.tariffs-slide-constructor__text Соберите свой тариф самостоятельно
                button.secondary-btn.tariffs-slide__btn Связаться с нами
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 10 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 10$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 20 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 20$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 30 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 30$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 40 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 40$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
        
  section.included.margin-section
    .container
      h2.title Все тарифы включают
      ul.included__list
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 15.9999V7.9999C20.9996 7.64918 20.9071 7.30471 20.7315 7.00106C20.556 6.69742 20.3037 6.44526 20 6.2699L13 2.2699C12.696 2.09437 12.3511 2.00195 12 2.00195C11.6489 2.00195 11.304 2.09437 11 2.2699L4 6.2699C3.69626 6.44526 3.44398 6.69742 3.26846 7.00106C3.09294 7.30471 3.00036 7.64918 3 7.9999V15.9999C3.00036 16.3506 3.09294 16.6951 3.26846 16.9987C3.44398 17.3024 3.69626 17.5545 4 17.7299L11 21.7299C11.304 21.9054 11.6489 21.9979 12 21.9979C12.3511 21.9979 12.696 21.9054 13 21.7299L20 17.7299C20.3037 17.5545 20.556 17.3024 20.7315 16.9987C20.9071 16.6951 20.9996 16.3506 21 15.9999Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3.27002 6.95996L12 12.01L20.73 6.95996" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 22.08V12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Позволяет выполнять важные задания по разработке наших системы обучения кадров выполнять важные
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.2099 15.8901C20.5737 17.3946 19.5787 18.7203 18.3118 19.7514C17.0449 20.7825 15.5447 21.4875 13.9424 21.8049C12.34 22.1222 10.6843 22.0422 9.12006 21.5719C7.55578 21.1015 6.13054 20.2551 4.96893 19.1067C3.80733 17.9583 2.94473 16.5428 2.45655 14.984C1.96837 13.4252 1.86948 11.7706 2.16851 10.1647C2.46755 8.55886 3.15541 7.05071 4.17196 5.77211C5.18851 4.49351 6.5028 3.4834 7.99992 2.83008" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2V12H22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Задача организации, в особенности также постоянное обеспечение себя соображения высшего порядка
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22C12 22 20 18 20 12V5L12 2L4 5V12C4 18 12 22 12 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Таким образом консультация с широким активом в значительной степени обуславливает создание
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 2C14.5013 4.73835 15.9228 8.29203 16 12C15.9228 15.708 14.5013 19.2616 12 22C9.49872 19.2616 8.07725 15.708 8 12C8.07725 8.29203 9.49872 4.73835 12 2V2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Идейные соображения высшего порядка также дальнейшее развитие различных форм деятельности в среде
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 2L3 14H12L11 22L21 10H12L13 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Разнообразный и богатый опыт рамки место обучения кадров способствует подготовки и реализации новых 
        li.included__item.included-item
          .included-item__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 8.00036V13.0004C16 13.796 16.3161 14.5591 16.8787 15.1217C17.4413 15.6843 18.2044 16.0004 19 16.0004C19.7957 16.0004 20.5587 15.6843 21.1213 15.1217C21.6839 14.5591 22 13.796 22 13.0004V12.0004C21.9999 9.74339 21.2362 7.55283 19.8333 5.78489C18.4303 4.01694 16.4706 2.77558 14.2726 2.26265C12.0747 1.74973 9.76794 1.9954 7.72736 2.95972C5.68677 3.92405 4.03241 5.55031 3.03327 7.57408C2.03413 9.59785 1.74898 11.9001 2.22418 14.1065C2.69938 16.3128 3.90699 18.2936 5.65064 19.7266C7.39429 21.1597 9.57144 21.9607 11.8281 21.9995C14.0847 22.0383 16.2881 21.3126 18.08 19.9404" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.included-item__text Реализация намеченных плановых заданий представляет собой интересный эксперимент завершился обеспечение

  section.contacts.margin-section
    .container
      h2.title Есть вопросы? напишите нам!
      .contacts__content
        form.form.contacts__col(action="#")
          input.form__input(type="text" placeholder="Имя")
          input.form__input(type="text" placeholder="Телефон")
          input.form__input(type="text" placeholder="E-mail")
          .form__select.form-select.select(select--active)
            button.form-select__btn.select-open.empty Тема сообщения
            ul.form-select__content.form-select-content.select-content 
              li.form-select-content__item 
                label.form-select-content__label
                  input.visually-hidden(type="radio" name="theme")
                  span Отписка сломалась
              li.form-select-content__item 
                label.form-select-content__label
                  input.visually-hidden(type="radio" name="theme")
                  span Кулич получился ужасно горьким
              li.form-select-content__item 
                label.form-select-content__label
                  input.visually-hidden(type="radio" name="theme")
                  span Яркий закат
              li.form-select-content__item 
                label.form-select-content__label
                  input.visually-hidden(type="radio" name="theme")
                  span Другое
          textarea.form__textarea(placeholder="Сообщение")
          p.form__privacy Нажимая на кнопку, вы соглашаетесь с
            a(href="#") политикой конфиденциальности
          button.primary-btn.form__btn Отправить

        .contacts__col
          span.contacts__subtitle Соцсети
          ul.footer__socials.footer-socials
            li.footer-socials__item
              a.footer-socials__link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.167 1.66699H5.83366C3.53247 1.66699 1.66699 3.53247 1.66699 5.83366V14.167C1.66699 16.4682 3.53247 18.3337 5.83366 18.3337H14.167C16.4682 18.3337 18.3337 16.4682 18.3337 14.167V5.83366C18.3337 3.53247 16.4682 1.66699 14.167 1.66699Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.3337 9.47525C13.4366 10.1688 13.3181 10.8771 12.9952 11.4994C12.6723 12.1218 12.1614 12.6264 11.5351 12.9416C10.9088 13.2569 10.1991 13.3666 9.5069 13.2552C8.81468 13.1438 8.17521 12.817 7.67944 12.3212C7.18367 11.8254 6.85685 11.186 6.74546 10.4938C6.63408 9.80154 6.74379 9.09183 7.05901 8.46556C7.37423 7.8393 7.8789 7.32837 8.50123 7.00545C9.12356 6.68254 9.83187 6.56407 10.5254 6.66692C11.2328 6.77182 11.8878 7.10147 12.3935 7.60717C12.8992 8.11288 13.2288 8.76782 13.3337 9.47525Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.583 5.41699H14.5913" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            li.footer-socials__item
              a.footer-socials__link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M19.1663 2.49959C18.3683 3.06249 17.4848 3.49302 16.5497 3.77459C16.0478 3.19752 15.3808 2.7885 14.6389 2.60286C13.897 2.41722 13.1159 2.46392 12.4014 2.73664C11.6869 3.00935 11.0734 3.49493 10.6438 4.12769C10.2143 4.76045 9.98942 5.50987 9.99967 6.27459V7.10792C8.5352 7.1459 7.08407 6.8211 5.77551 6.16246C4.46696 5.50382 3.34161 4.53179 2.49967 3.33292C2.49967 3.33292 -0.833659 10.8329 6.66634 14.1663C4.95011 15.3312 2.90564 15.9154 0.833008 15.8329C8.33301 19.9996 17.4997 15.8329 17.4997 6.24959C17.4989 6.01747 17.4766 5.78592 17.433 5.55792C18.2835 4.71917 18.8837 3.66018 19.1663 2.49959Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="20" height="20" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
            li.footer-socials__item
              a.footer-socials__link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9997 1.66699H12.4997C11.3946 1.66699 10.3348 2.10598 9.5534 2.88738C8.77199 3.66878 8.33301 4.72859 8.33301 5.83366V8.33366H5.83301V11.667H8.33301V18.3337H11.6663V11.667H14.1663L14.9997 8.33366H11.6663V5.83366C11.6663 5.61265 11.7541 5.40068 11.9104 5.2444C12.0667 5.08812 12.2787 5.00033 12.4997 5.00033H14.9997V1.66699Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
          span.contacts__subtitle E-mail
          a.contacts__link(href="mailto:imprint@gmail.com") imprint@gmail.com

  section.faq
    .container
      h2.title Ответы на вопросы
      ul.faq__list
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Как научиться печь вкусные куличи?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Широким активом в значительной степени обуславливает создание?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Также постоянное обеспечение себя соображения высшего порядка?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Cобой интересный эксперимент завершился обеспечение ямок?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Разнообразный и богатый опыт рамки место обучения?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия
        li.faq__item.faq-item(faq__item--active)
          button.faq-item__title Идейные соображения высшего порядка также дальнейшее развитие?
          p.faq-item__content Идейные соображения высшего порядка, а также постоянный количественный рост сфера нашей активности влечет за собой процесс внедрения модернизации систем массового участия